
<div class="row">
    <div class="col-md-10">
      <h1>Edit {{relatedObj.name}} | {{template.templateType.name}}</h1>
    </div>
    <div class="col-md-2">
      <button title="Add New Block" ng-click="editBlock();" class="btn btn-primary h1_button pull-right" type="button">Add New Block</button>
    </div>
</div>
    
<!-- Alerts and Messages -->
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" ng-show="messageHandler.hasErrorMessages()">
            <div>Error Message(s):</div>
            <div ng-repeat="error in messageHandler.getMessages()| uniqueMessage">{{error.getValue()}}</div>
        </div>
        <div class="alert alert-success" ng-show="messageHandler.hasSuccessMessages()">
            <div ng-repeat="message in messageHandler.getMessages()| uniqueMessage">
                {{message.getValue()}}
            </div>
        </div>
    </div>
</div>


<div class="col-md-12">
	<div class="row">
    
	    <div class="border-radius-main-form gray-lighter">
	       <div class="row">
                <div class="col-md-8">
                
                <!-- add ng-tree here -->
                soon to be the template structure
	            </div>
	       </div>
	    </div>
    </div>
    
</div>
<br>

<div class="row">
    <div class="col-md-12">
        <div class="form-group pull-right">
            <button class="btn btn-primary" ng-click="save();">Save</button>
            <button class="btn btn-default" 
            ng-really-message="Cancel template editing and lose changes?"
            ng-really-click="cancel();">Cancel</button>
        </div>
    </div>
</div>