
<div class="row">
    <div class="col-md-10">
      <h1>Edit {{relatedObj.name}} | {{template.type.name}}</h1>
    </div>
</div>

<!-- Alerts and Messages -->
<alert ng-repeat="alert in alerts" type="alert.type" close="alert.close($index)">{{alert.msg}}</alert>

<label for="graphicalTemplateChk">
	<input id="graphicalTemplateChk" type="checkbox" ng-model="template.isGraphical"> Graphical Template
</label>

<form name="graphicalTemplateForm">
<div class="border-radius-main-form margin-bottom-20 gray-lighter" ng-show="template.isGraphical">
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label for="templateTitle">Template Title *</label>
				<input type="text" class="form-control" id="templateTitle" 
					placeholder="Enter Template Title"  
					ng-model="template.name" maxlength="48" required>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label for="graphHeader">Graph Header *</label>
				<input type="text" class="form-control" id="graphHeader" 
					placeholder="Enter Graph Header" 
					ng-model="template.graph.title" maxlength="48" required>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label for="graphFooter">Graph Footer</label>
				<input type="text" class="form-control" id="graphFooter" 
					placeholder="Enter Graph Footer" 
					ng-model="template.graph.footer" maxlength="48">
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label for="selectVariable">Select Variable *</label>
				<input id="selectVariable" type="hidden" ng-model="assessmentVariable.name" update-hidden required>
				<div ng-show="assessmentVariables.length == 0">Loading...</div>
				<assessment-var-select 
					id="selectVariable"
					assessment-variable="assessmentVariable" 
					editor-type="graphicalTemplate"
					allow-transformations="false"
					ng-class="{error: conditionForm.selectedAssessmentVariable.$invalid && conditionForm.selectedAssessmentVariable.$dirty}" 
					ng-show="assessmentVariables.length != 0"/>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-9">
		<fieldset class="group-border">
			<legend class="group-border">Legend</legend>
			<div class="row">
				<div class="col-md-6">
					<div class="border-radius-ul lighter-white">
					<!-- Repeater Start -->
					<ul>
						<li ng-repeat="interval in intervalList">
							<div class="row">
								<div class="col-xs-6 col-md-6 col-lg-6">	
									<div class="form-group">
										<label for="intervalsName{{$index + 1}}">Interval Name *</label>
										<input type="text"
											   class="form-control"
											   id="intervalsName{{$index + 1}}"
											   ng-model="interval.name"
											   ng-change=""
											   placeholder="Enter Name"
											   maxlength="20"
											   required >
									</div>
								</div>
								<div class="col-xs-6 col-md-6 col-lg-6">	
									<div class="form-group">
										<label for="intervalsStartValue{{$index + 1}}">Start Value *</label>

										<a href="javascript:void(0);"
											ng-click="deleteInterval($index)"
											ng-show="$index > 1">
											<span class="glyphicon glyphicon-remove-circle red-color pull-right"></span>
										</a>
																			
										<input type="number"
												ng-model="interval.value"
												class="form-control"
												id="intervalsStartValue{{$index + 1}}"
												placeholder="Enter Start Value" 
												required>
									</div>
								</div>
								<br>
							</div>
						</li>					
					</ul>
					<!-- Repeater End -->

					<div class="row">
						<div class="col-md-12">
							<button class="btn btn-primary btn-xs" id="addIntervalValue"
								ng-disabled="intervalList.length > 5"
							 	ng-click="addIntervalValue()">
							<span class="glyphicon glyphicon-plus"></span> Add Interval </button>
						</div>
					</div>
					<br/>
					</div>										

				</div>
	
				<div class="col-md-6">					
						<div class="row">
						<div class="col-md-6">

					<div class="border-radius-ul lighter-white min-height-235">
					<!-- Repeater Start -->
					<ul>
						<li ng-repeat="tick in ticks track by $index">
							<div class="row">
								<div class="col-xs-12 col-md-12 col-lg-12">	
									<div class="form-group">
										<label for="ticksStartValue{{$index}}">Extra Axis Value *</label>
										<a href="javascript:void(0);" ng-click="deleteTick($index)">
											<span class="glyphicon glyphicon-remove-circle red-color pull-right"></span>
										</a>							
										<input type="number"
												ng-model="ticks[$index]"
												class="form-control"
												id="ticksStartValue{{$index}}"
												placeholder="Enter Start Value" 
												required>
									</div>																
								</div>
							</div>
						</li>					
					</ul>
					<!-- Repeater End -->

					<div class="row">
						<div class="col-md-12">
							<button class="btn btn-primary btn-xs btn-block" id="addTickValue" 
								ng-click="addTickValue()" tooltip="Each interval will have an X axis value. This adds extra values">
							<span class="glyphicon glyphicon-plus"></span> Add Extra Axis Value </button>
						</div>
					</div>
					<br />
					</div>	
						</div>

						<div class="col-md-6">					
							<div class="form-group padding-box-align">
								<label for="graphMaximumValue">Graph Maximum Value</label>
								<input type="number" class="form-control" id="graphMaximumValue" 
									placeholder="Enter Graph Maximum Value" ng-model="template.graph.maxXPoint">
							</div>
						</div>
					</div>
				</div>
			</div>		
		</fieldset>	
		</div>
		<div class="col-md-3">
		<fieldset class="group-border">
			<legend class="group-border">Time Series Points</legend>
			<div class="form-group  padding-box-align">
				<label for="includeLast">Include data from last: *</label>
				<input type="number" class="form-control" 
					id="includeLast" placeholder="Enter Number" 
					maxlength="2"  ng-model="template.graph.numberOfMonths" required> 
					<span class="help-block">Month(s)</span>
			</div>
		</fieldset>	
		</div>
	</div>	
</div>
</form>


<div class="col-md-12">
	<div class="row">

		<div class="border-radius-main-form margin-bottom-20 gray-lighter min-height-150">
			<div class="row">
				<div class="col-md-12">

					<script type="text/ng-template" id="block_renderer.html">
                        <div ui-tree-handle>
                            <div class="col-md-3">
                               {{block.section}} {{block.name | limitToWithEllipsis:30 }}
                            </div>
                            <div class="col-md-7">
                               <span class="label label-default label-default-{{block.type}}">{{block.type}}</span>
                               {{block.summary | limitToWithEllipsis:80}}
                            </div>
                            <div class="col-md-2 pull-right">

                                <span class="pull-right btn btn-xs block-btn-margin" 
                                    ng-really-click="deleteBlock(this);"
                                    ng-really-message="Are you sure you want to delete this block?" data-nodrag title="Delete  {{block.name}}">
                                    <i class="glyphicon glyphicon-remove-circle delete-red"></i>
                                </span>


                                <span class="pull-right btn btn-xs block-btn-margin" ng-click="updateBlock(block);" data-nodrag title="Edit {{block.name}}">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </span>


                                <button class="pull-right btn btn-xs btn-primary block-btn-margin" data-nodrag ng-click="updateBlock(block, true);" title="Add">Add</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <ol ui-tree-nodes="options" ng-model="block.children">
                            <li ng-repeat="block in block.children" ui-tree-node ng-include="'block_renderer.html'"  class="templateBlockLi"></li>
                        </ol>
                   </script>

					<div ui-tree="treeOptions">
						<ol ui-tree-nodes ng-model="template.blocks">
							<li ng-repeat="block in template.blocks" ui-tree-node ng-include="'block_renderer.html'" class="templateBlockLi"></li>
						</ol>
					</div>
					<div  ng-class="template.blocks.length > 0 ? 'text-left' : ( template.blocks.length < 0 ? 'text-center' : 'text-center')">
						<button title="Add New Block" ng-click="updateBlock(null, true);" class="btn btn-primary" type="button">Add New Block</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<br>

<div class="row">
    <div class="col-md-12">
        <div class="form-group pull-right">
        
            <button class="btn btn-primary" ng-click="save();" 
            	ng-disabled="template.isGraphical && ! graphicalTemplateForm.$valid">Save</button>
            	
            <button class="btn btn-default" 
            ng-really-message="Cancel template editing and lose changes?"
            ng-really-click="done();"
            ng-really-skip-when="! hasChanged">Cancel</button>
        </div>
    </div>
</div>
