
<div class="row">
    <div class="col-md-10">
      <h1>Edit {{relatedObj.name}} | {{template.type.name}}</h1>
    </div>
    <div class="col-md-2">
      <button title="Add New Block" ng-click="updateBlock();" class="btn btn-primary h1_button pull-right" type="button">Add New Block</button>
    </div>
</div>
    
<!-- Alerts and Messages -->
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" ng-show="messageHandler.hasErrorMessages()">
            <div>Error Message(s):</div>
            <div ng-repeat="error in messageHandler.getMessages()| uniqueMessage">{{error.getValue()}}</div>
        </div>
        <div class="alert alert-success" ng-show="messageHandler.hasSuccessMessages()">
            <div ng-repeat="message in messageHandler.getMessages()| uniqueMessage">
                {{message.getValue()}}
            </div>
        </div>
    </div>
</div>


<div class="col-md-12">
	<div class="row">

		<div class="border-radius-main-form gray-lighter">
			<div class="row">
				<div class="col-md-12">

					<script type="text/ng-template" id="block_renderer.html">
                        <div ui-tree-handle>
                            <div class="col-md-3">
                               {{block.section}} {{block.name | limitToWithEllipsis:30 }}
                            </div>
                            <div class="col-md-7">
                               <span class="label label-default label-default-{{block.type}}">{{block.type}}</span>
                               {{block.summary | limitToWithEllipsis:50}}
                            </div>
                            <div class="col-md-2 pull-right">

                                <span class="pull-right btn btn-xs block-btn-margin" 
                                    ng-really-click="deleteBlock($index);"
                                    ng-really-message="Are you sure you want to delete this block?" data-nodrag title="Delete  {{block.name}}">
                                    <i class="glyphicon glyphicon-remove-circle delete-red"></i>
                                </span>


                                <span class="pull-right btn btn-xs block-btn-margin" ng-click="updateBlock(block);" data-nodrag title="Edit {{block.name}}">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </span>


                                <button class="pull-right btn btn-xs btn-primary block-btn-margin" data-nodrag ng-click="updateBlock(block);" title="Add">Add</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <ol ui-tree-nodes="options" ng-model="block.children">
                            <li ng-repeat="block in block.children" ui-tree-node ng-include="'block_renderer.html'"  class="templateBlockLi"></li>
                        </ol>
                   </script>

					<div ui-tree="treeOptions">
						<ol ui-tree-nodes ng-model="template.blocks">
							<li ng-repeat="block in template.blocks" ui-tree-node ng-include="'block_renderer.html'"  class="templateBlockLi"></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<br>

<div class="row">
    <div class="col-md-12">
        <div class="form-group pull-right">
            <button class="btn btn-primary" ng-click="save();">Save</button>
            <button class="btn btn-default" 
            ng-really-message="Cancel template editing and lose changes?"
            ng-really-click="done();"
            ng-really-skip-when="! hasChanged">Cancel</button>
        </div>
    </div>
</div>
