<div class="row">
    <div class="col-md-12">
        <div class="row clearfix">
            <div class="col-md-4 column">
                <div class="panel-group" id="panel-307263">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="panel-title" data-toggle="collapse" data-parent="#panel-307263"
                               href="#panel-element-438457">Operations</a>
                        </div>
                        <div id="panel-element-438457" class="panel-collapse in">
                            <div class="panel-body">
                                Anim pariatur cliche...
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-307263"
                               href="#panel-element-810253">Constants</a>
                        </div>
                        <div id="panel-element-810253" class="panel-collapse collapse">
                            <div class="panel-body">
                                Anim pariatur cliche...
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="panel-title" data-toggle="collapse" data-parent="#panel-307263"
                               href="#panel-element-438457">Defined Variables</a>
                        </div>
                        <div id="panel-element-438457" class="panel-collapse in">
                            <div class="panel-body">
                                Anim pariatur cliche...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 column">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">
                                    Name
                                </label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="inputEmail3" placeholder="Enter Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">
                                    Description
                                </label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputPassword3" placeholder="Enter Description">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>
                                            Formula Editor
                                        </label>
                                        <textarea class="form-control"></textarea>
                                        <hr>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>
                                            Result Text
                                        </label>
                                        <textarea class="form-control"></textarea>

                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <div class="form-group">
                                <label for="lPreview" class="control-label">
                                    Expression Preview
                                </label>
                                <div class="col-sm-12">
                                    <ul id="lPreview" class="list-inline">
                                        <li class="form-inline">
                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <label for="txtOpVal1" class="col-sm-2 control-label">
                                                        OpVal1
                                                    </label>
                                                    <input type="text" id="txtOpVal1" class="col-sm-2-offset col-sm-10 form-control" value="28">
                                                </div>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <button type="submit" class="btn btn-default">
                                                                Test
                                                            </button>
                                                        </div>
                                                    </div>
                                                    Your response:
                                                </label>
                                                <textarea class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</hr>
<div class="row">
    <div class="col-md-12">
       <div class="form-group form-inline pull-right">
           <button class="btn btn-info" ng-click="goToAddEdit();">Cancel</button>
           <button class="btn btn-primary" ng-click="goToAddEdit();">Save</button>
       </div>
    </div>
</div>