<div class="modal-header">
    <h1>Manage {{ templateName }} Block</h1>
</div>
<div class="modal-body">

        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
          <label for="block-name" class="control-label">Block Name</label>
          </div>
          <div class="col-md-10">
          <input type="text" class="form-control" id="block-name" placeholder="Block name" ng-model="block.title">
          </div>
          </div>
        </div>


    <template-block-editor block="block" assessment-variables="assessmentVariables"></template-block-editor>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="close()">Insert</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
</div>
