<div class="modal-header">
    <h1>Manage {{relatedObj.name}} Block</h1>
</div>
<div class="modal-body">

    <form role="form">

        <div class="row">
            <label for="block-name" class="col-sm-1 control-label">Block Name</label>
            <div class="col-sm-11">
                <input type="text" class="form-control" id="block-name" placeholder="Block name" ng-model="block.name">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Block Type</label>
        </div>

        <div class="form-group col-sm-2">
            <select class="form-control">
                <option>-- Select Type --</option>
                <option>If</option>
                <option>Else if</option>
                <option>Else</option>
            </select>
        </div>

        <div class="form-group col-sm-2">
            <label class="sr-only" for="variable">Select Variable</label>
            <input type="text" class="form-control" id="variable" placeholder="Select Variable" ng-model="block.variable">
        </div>

        <div class="form-group col-sm-2">
            <select class="form-control">
                <option>-- Operator --</option>
                <option>Equals</option>
                <option>Doesn't Equal</option>
            </select>
        </div>

        <div class="form-group col-sm-2">
            <label class="sr-only" for="blockvalue">Enter Value</label>
            <input type="text" class="form-control" id="blockvalue" placeholder="Enter Value" ng-model="block.value">
        </div>

        <div class="pull-right">
            <button class="btn btn-default">AND</button>
            <button class="btn btn-default">OR</button>
            <button class="btn btn-default"><i class="fa fa-plus"></i></button>
        </div>

        <div class="form-group">
            <div class="form-group">
                <div text-angular="text-angular" ng-model="block.text" ta-toolbar-class="btn-toolbar"
                     ta-toolbar-group-class="btn-group" ta-toolbar-button-class="btn btn-default"
                     ta-toolbar-button-active-class="active" class="tab-content"> </div>
            </div>
        </div>

    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="close()">Insert</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
</div>
