<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h1>Manage Sections</h1>
        </div>
        <div class="col-md-6 h1_button">
            <button ng-click="addSection();" ng-disabled="false" class="btn btn-primary h1_button pull-right" type="button">Add Section</button>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
    </div>

    <div class="row" ng-repeat="ssRow in ssRows">
        <accordion close-others="false">
            <accordion-group heading="{{ssRow.name}}">
                <div class="col-md-6 form-group">
                    <label>Name:</label>
                    <input type="text" ng-model="ssRow.name" class="form-control">
                </div>
                <div class="col-md-6 form-group">
                    <label>Description:</label>
                    <input type="text" ng-model="ssRow.description" class="form-control">
                </div>

                <!-- and here is a nested Accordion to accommodate surveys in this section-->
                <accordion-group>
                    <accordion-heading>
                        Sections ({{ssRow.surveys.length}})
                    </accordion-heading>
                    <ul id="survey_list" class="">
                        <li ng-repeat="sRow in ssRow.surveys">
                            <span class="large-12">{{ sRow.name }}</span>
                        </li>
                    </ul>
                </accordion-group>

            </accordion-group>
            <i class="btn btn-sm btn-grid glyphicon glyphicon-trash pull-right" ng-click="delete($index)" title="Delete"></i>
            <i class="btn btn-sm btn-grid glyphicon glyphicon-save pull-right" ng-click="ssRow.id!=null?update(ssRow):add(ssRow)"></i>
            <div class="clearfix"></div>
        </accordion>
    </div>

</div>