<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Manage Sections</h1>
        </div>
        <div class="col-md-6">
            <button ng-click="addSection()" ng-disabled="false" class="btn btn-primary h1_button pull-right"
                    type="button">Add Section
            </button>
            <button ng-click="saveAll(true)" ng-disabled="false" class="btn btn-warning h1_button pull-right"
                    type="button">Save All
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <alert ng-repeat="msg in msgs" type="msg.type" close="closeAlert($index)">{{msg.text}}</alert>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel-group">
                <div ng-repeat="ssRow in ssRows" class="panel">
                    <accordion close-others="false">
                        <accordion-group>
                            <accordion-heading>
                                <h4>{{ssRow.name}}
                                    <i class="btn btn-sm btn-grid glyphicon glyphicon-trash pull-right"
                                       ng-click="delete($index)" title="Delete"></i>
                                </h4>
                            </accordion-heading>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Name:</label>
                                    <input type="text" ng-model="ssRow.name" class="form-control" placeholder="Name...">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Description:</label>
                                    <input type="text" ng-model="ssRow.description" class="form-control"
                                           placeholder="Description...">
                                </div>
                            </div>

                            <!-- and here is a nested Accordion to accommodate surveys in this section-->
                            <accordion-group>
                                <accordion-heading>
                                    <h5>Module(s) ({{ssRow.surveys.length}})</h5>
                                </accordion-heading>
                                <!-- start -->
                                <div class="ss col-md-8">
                                    <div class="row">
                                        <div class="panel panel-info">
                                            <div class="panel-body" ng-include="'resources/editors/views/sections/section_surveys.html'"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- finish -->
                            </accordion-group>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
    </div>
</div><br><br>