<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <h3 class="text-left pull-left">
                        Sections
                    </h3>
                    <button type="button" class="btn btn-primary pull-right" ng-click="newClick();">
                    	<span class="glyphicon glyphicon-plus"></span>
                        New
                    </button>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        Personal Information
                    </td>
                    <td>
                        Information
                    </td>
                    <td>
                        A description...
                    </td>
                    <td>
                        <div class="pull-right">
                            <span class="glyphicon glyphicon-edit" title="Edit" ng-click="editClick();"></span>
                            <span class="glyphicon glyphicon-remove-circle" style="color:red;" title="Delete" ng-click="deleteClick();"></span>
                        </div>
                    </td>
                </tr>
                <tr class="active">
                    <td>
                        1
                    </td>
                    <td>
                        Spirituality
                    </td>
                    <td>
                        Beliefs
                    </td>
                    <td>
                        A description...
                    </td>
                    <td>
                        <div class="pull-right">
                            <span class="glyphicon glyphicon-edit" title="Edit"></span>
                            <span class="glyphicon glyphicon-remove-circle" style="color:red;" title="Delete"></span>
                        </div>
                    </td>
                </tr>
                <tr class="success">
                    <td>
                        2
                    </td>
                    <td>
                        Service History
                    </td>
                    <td>
                        Veteran Service
                    </td>
                    <td>
                        A description...
                    </td>
                    <td>
                        <div class="pull-right">
                            <span class="glyphicon glyphicon-edit" title="Edit"></span>
                            <span class="glyphicon glyphicon-remove-circle" style="color:red;" title="Delete"></span>
                        </div>
                    </td>
                </tr>
                <tr class="warning">
                    <td>
                        3
                    </td>
                    <td>
                        Lorem Ipsum
                    </td>
                    <td>
                        Dolor sit Amet
                    </td>
                    <td>
                        A description...
                    </td>
                    <td>
                        <div class="pull-right">
                            <span class="glyphicon glyphicon-edit" title="Edit"></span>
                            <span class="glyphicon glyphicon-remove-circle" style="color:red;" title="Delete"></span>
                        </div>
                    </td>
                </tr>
                <tr class="danger">
                    <td>
                        4
                    </td>
                    <td>
                        Anxiety Spectrum
                    </td>
                    <td>
                        Mental Health
                    </td>
                    <td>
                        A description...
                    </td>
                    <td>
                        <div class="pull-right">
                            <span class="glyphicon glyphicon-edit" title="Edit"></span>
                            <span class="glyphicon glyphicon-remove-circle" style="color:red;" title="Delete"></span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>