
eScreeningDashboard/src/main/webapp/resources/editors/js/app/domains/TemplateVariableContent.js

eScreeningDashboard/src/main/binaryresources/image/summary.svg

eScreeningDashboard/src/main/binaryresources/reports/individualStatisticsGraph.jrxml.backup

*.swp
