body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:relative;
  left:-0px;
  width:1198px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-5px;
  top:154px;
  width:10px;
  height:516px;
}
#u0_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u0_end {
  position:absolute;
  left:-5px;
  top:499px;
  width:20px;
  height:18px;
}
#u0_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:516px;
}
#u1 {
  position:absolute;
  left:1193px;
  top:154px;
  width:10px;
  height:516px;
}
#u1_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u1_end {
  position:absolute;
  left:-5px;
  top:499px;
  width:20px;
  height:18px;
}
#u1_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:516px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
}
#u4 {
  position:absolute;
  left:2px;
  top:42px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:29px;
  top:10px;
  width:271px;
  height:79px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:79px;
}
#u6 {
  position:absolute;
  left:2px;
  top:32px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:880px;
  top:14px;
  width:298px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:20px;
  top:190px;
  width:411px;
  height:37px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:37px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:20px;
  top:247px;
  width:1155px;
  height:133px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:32px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:32px;
}
#u14 {
  position:absolute;
  left:8px;
  top:8px;
  width:657px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:673px;
  top:0px;
  width:477px;
  height:32px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:32px;
}
#u16 {
  position:absolute;
  left:8px;
  top:8px;
  width:461px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:32px;
  width:673px;
  height:32px;
  color:#1E1E1E;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:32px;
}
#u18 {
  position:absolute;
  left:8px;
  top:8px;
  width:657px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:673px;
  top:32px;
  width:477px;
  height:32px;
  color:#0000FF;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:32px;
}
#u20 {
  position:absolute;
  left:8px;
  top:8px;
  width:461px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:64px;
  width:673px;
  height:32px;
  font-size:12px;
  color:#000000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:32px;
}
#u24 {
  position:absolute;
  left:8px;
  top:8px;
  width:657px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:673px;
  top:64px;
  width:477px;
  height:32px;
  color:#0000FF;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:32px;
}
#u26 {
  position:absolute;
  left:8px;
  top:8px;
  width:461px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:96px;
  width:673px;
  height:32px;
  font-size:12px;
  color:#000000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:32px;
}
#u29 {
  position:absolute;
  left:8px;
  top:8px;
  width:657px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:673px;
  top:96px;
  width:477px;
  height:32px;
  color:#0000FF;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:32px;
}
#u31 {
  position:absolute;
  left:8px;
  top:8px;
  width:461px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:100px;
  width:1200px;
  height:30px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:20px;
  top:102px;
  width:873px;
  height:26px;
}
#u36_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:879px;
  height:32px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:31px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
}
#u39 {
  position:absolute;
  left:2px;
  top:5px;
  width:89px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:93px;
  top:0px;
  width:139px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:26px;
}
#u41 {
  position:absolute;
  left:2px;
  top:5px;
  width:135px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:232px;
  top:0px;
  width:81px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
}
#u43 {
  position:absolute;
  left:2px;
  top:5px;
  width:77px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:313px;
  top:0px;
  width:116px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:26px;
}
#u44_img.selected {
}
#u44.selected {
}
#u44_img.mouseOver {
}
#u44.mouseOver {
}
#u45 {
  position:absolute;
  left:2px;
  top:5px;
  width:112px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:429px;
  top:0px;
  width:129px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:26px;
}
#u47 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:558px;
  top:0px;
  width:139px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:26px;
}
#u49 {
  position:absolute;
  left:2px;
  top:5px;
  width:135px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:697px;
  top:0px;
  width:176px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:26px;
}
#u51 {
  position:absolute;
  left:2px;
  top:5px;
  width:172px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:130px;
  width:1200px;
  height:31px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:31px;
}
#u53 {
  position:absolute;
  left:2px;
  top:8px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:20px;
  top:131px;
  width:488px;
  height:26px;
}
#u54_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:494px;
  height:32px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:31px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:26px;
}
#u57 {
  position:absolute;
  left:2px;
  top:5px;
  width:146px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:150px;
  top:0px;
  width:174px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:26px;
}
#u59 {
  position:absolute;
  left:2px;
  top:5px;
  width:170px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:324px;
  top:0px;
  width:164px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:26px;
}
#u61 {
  position:absolute;
  left:2px;
  top:5px;
  width:160px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:1130px;
  top:104px;
  width:60px;
  height:20px;
  color:#FFFFFF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u63 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:620px;
  width:1200px;
  height:50px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u66 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:9px;
  top:638px;
  width:521px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:13px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  word-wrap:break-word;
}
