<table ng-table="tableParams" show-filter="true" class="table table-hover">
    <tr ng-repeat="assessmentVariable in $data" ng-class-odd="'odd'" ng-class-even="'even'">
        <td data-title="Variable Name" sortable="name">{{assessmentVariable.name}}</td>
        <td data-title="Name" sortable="displayName">{{assessmentVariable.displayName}}</td>
        <td data-title="Type" sortable="measureTypeId">{{assessmentVariable.measureTypeId}}</td>
        <td data-title="Insert">
            <div class="pull-right">
                <div class="cursor-pointer pull-right" ng-click="selectAssessmentVariable(assessmentVariable);">
                    &nbsp; &nbsp;<span class="glyphicon glyphicon-edit" title="Edit"></span> Select &nbsp; &nbsp;
                </div>
            </div>
        </td>
    </tr>
</table>