<table ng-table="tableParams" show-filter="true" class="table table-hover">
    <tr ng-repeat="assessmentVariable in $data" ng-class-odd="'odd'" ng-class-even="'even'">
        <td data-title="'Variable Name'" sortable="'name'">{{assessmentVariable.name}}</td>
        <td data-title="'Name'" sortable="'displayName'">{{assessmentVariable.displayName}}</td>
        <td data-title="'Type'" sortable="'type'">{{assessmentVariable.typeId}}</td>
        <td data-title="'Insert'">
            <div class="cursor-pointer pull-right btn btn-link" ng-click="selectAssessmentVariable(assessmentVariable);">
                Select <i class="fa fa-arrow-circle-right"></i>
            </div>
        </td>
    </tr>
</table>