
#assessmentVariableSelection {
    background-color: green;
    display: inline-block;
    height: 33px;
    width: 150px;
    padding: 5px;
    vertical-align:middle;
    text-align: center;
    border-radius: 5px;
}