@charset "utf-8";
/* CSS Document */

body{
	background-color:#292c39;
	background-color:hsla(229, 16%, 19%, 1);
	background-image:url(../../../resources/images/burlapblueBG.png);
	font-family:Arial, sans-serif;
	background-repeat:repeat;
	color:#fff;
	color:hsla(0,0%,100%,1);
	min-height:100%;
	margin:0;
	/*
	padding-left:40px;
	padding-right:25px;
	
	padding-left:5px;
	padding-right:5px;
	*/
	min-width:240px;
}

#bodyDiv {
	background-color: #ffffff;
}

a img{
	border:0px;
}

li{
	height:60px;
	text-align:left;
}

#header, #footer{
	margin-left:-40px; /* LC full width */
	margin-right:-20px; /* RC fullwidth + CC padding */
	font-family:MyriadProBold, Arial, sans-serif;
}

.column {position:relative; float:left;}
#center{
	color: #000000;
	padding:20px 20px -20px 0px;
	margin-bottom:2%; 
	width:100%; 
	height:auto;
	border:1px solid hsla(0,0%,60%,1);
	border-radius: 5px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	box-shadow:1px 5px 20px #666666;
}
#left{
	width:20px; /* LC width */
	padding:0 10px; /* LC padding */
	right:25px; /* LC full width + CC padding */
	margin-left:-5%;
}
#right{
	width:20px; /* RC width */
	padding:0 10px; /* RC padding */
	margin-right:-5%;
}

#content-controls{
	height:40px;
	padding:20px;
	border-bottom:1px solid #8996a0;
	border-bottom:1px solid hsla(206, 11%, 58%, 1);
	box-shadow:1px 5px 5px 8b8d8e;
	box-shadow:1px 5px 5px hsla(200, 1%, 55%, 1);
}
#footer{
	clear:both;
	margin-top:20px;
	background-color:#2A3B43;
}

/** Header-specific styles **/
#header{
	height:90px;
	padding-left:2%;
	margin-bottom:1%;
}
#logo-container {
	margin-top:0.5em;
	width: 5%; 
	max-width:95px; 
	border: 0;
}

#logo-container a {
	border: 0;
	margin: 0;
}

#logo-container img {
	width: 90%;
	height: auto;
	float: left;
}


/*
#agencyTitle{
	width:600px;
	max-width:700px;
}

#applicationTitle{
	width:100%;
}

#agencyName {
	font-size:0.9em;
	font-weight:400;
	text-shadow:1px 3px #4d4f53;
	text-shadow:1px 3px hsla(220, 4%, 31%, 0.6);
}

#applicationName {
	font-family:MyriadProBold, Arial, sans-serif;
	font-size:2.5em;
	font-weight:700;
	letter-spacing:3px;
	text-shadow:2px 5px #4d4f53;
	text-shadow:2px 5px hsla(220, 4%, 31%, 0.6);
}

#userLogged{
	margin-right: -40px;
	display:inline;
	font-family:MyriadProRegular, Arial, sans-serif; 
	float:right;
	min-width:15%;
	min-height:70%;
	padding-left:30px;
	padding-right:140px;
	padding-bottom:2px;
	font-size:0.9em;
	font-weight:900;
	letter-spacing:0.1em;
	text-overflow:clip;
	text-align:right;
	border-left:1px solid #fff;
	border-left:hairline solid hsla(0,0%,100%,1);
	text-shadow:2px 5px #4d4f53;
	text-shadow:2px 5px hsla(220, 4%, 31%, 0.6);
}

#userLogged span{
	position:relative;
	bottom:80%;
	float:right;
}

#loggedInContainer{
	position:relative;
	float:right;
	width:40%;
	max-width:500px;
}

#loggedInContainer img{
	float:left;
	height:61px;
}

#loggedInContainer span{
	position:absolute;
	bottom:0;
	right:0;
}
*/
/** Content Area Styles **/
#controlsLeft{
	width:48%;
	text-align:left;
	float:left;
}
#controlsRight{
	width:48%;
	float:right;
}

#setNew,#resetForm{
	width:inherit;
	text-align:center;
	padding-bottom:2px;
}

#viewTitle{
	padding: 10px 10px 10px 10px;
	font-family: MyriadProBold, Arial, Helvetica, sans-serif;
}

#viewTitle span.pageTitle{
	color:#000;
	font-size:2.5em;
	font-weight:700;
	text-align:left;
	vertical-align:middle;
	line-height:40px;
}

#viewTitle span.step{
	padding-left:10px;
	color:#333;
	font-size:14px;
	font-weight:500;
	text-align:left;
	vertical-align:middle;
	line-height:40px;
}

/* iPhone Checkbox */
.iPhoneCheckContainer {
	width: 50px;
	overflow:hidden;
}

.css_sized_container{
	position:relative;
	float:right;
	padding-right:40%;
	width:100px;
	text-align:center;
	overflow:hidden;
}

.error{
	color:#c4262e;
	color:hsla(357, 68%, 46%, 1);
}

.errorMessage{
	color:#c4262e;
}

.pass{
	color:#4d4f53;
	color:hsla(220, 4%, 31%, 1);
}

#switchButtonLI{
	text-align:center;
	margin:0 auto;
}


/**** IE fix ****/
* html #left{left:20px; /* RC fullwidth hack for the paste-eater */}


 /* Sign Out Button customization on Veteran Page */
/*.buttonSignout {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color:#63b8ee;
	border:1px solid #3866a3;
	display:inline-block;
	color:#FFF8DC;
	font-family:Verdana;
	font-size:12px;
	height:24px;
	width:122px;
	text-decoration:none;
	text-align:center;
	margin-left: 20px;
	font-weight: normal;
	cursor: pointer;
}
.buttonSignout:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}
.buttonSignout:active {
	position:relative;
	top:1px;
}
 */

/* #assessmentLoginForm {
	padding: 20px 0px;
	border: 1px solid #8A8A8A;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
}

#assessmentLoginForm h3 {
	color: #000000;
}

#assessmentLoginForm label,#assessmentLoginForm input {
	margin-top: 10px;
}
 */
/* .veteranLoginButtonWrapper {
	text-align: right;
}

.veteranLoginButtonWrapper input[type=submit] {
	margin-right: 24px;
    width: 144px;
}
 */


 
/* Make Header Sticky */
.top_header_message {
	background:rgba(251,255,201,.9); border-bottom:1px solid #666; left:0; position:fixed; width:100%; top:0; z-index:1000; display:none;
	-webkit-box-shadow: 0 8px 6px -6px black;
		-moz-box-shadow: 0 8px 6px -6px black;
			box-shadow: 0 8px 6px -6px black;
      z-index:1001;
}
.top_header{margin:0 auto; width:1000px; text-align:center; color:#349200; font-weight:bold; padding:15px; }
.ico_loading{
	background-image:url(../../../resources/images/ajax-loader_green.gif);
	background-repeat:no-repeat;
	width:32px;
	height:32px;
	display:inline-block;
	margin-bottom: -12px;
	margin-right: 10px;
}
.show{
	display:block;
}



.offscreen {

	position:absolute;
	left:-10000px;
	top:auto;
	width:150px;
	overflow:hidden;
	z-index:10000
	
		/*
	
	position: absolute;
	width: auto;
	z-index: 50;*/

}
.offscreen , .offscreen a{
	font-size:12px;
		padding: 5px 5px 5px 5px;
	text-align:center;

}


a.offscreen:focus, a.offscreen:active {
	display: block;
	left: 0;
	z-index: 999;
	background: #3F3F3F;
	border: 1px solid #000;
	color:#fff;
	
	left: 50%;
	margin-left: -5.25em;
	margin-top: 0;
}