<div class="border-radius-block-type bg-gray-light">
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>

        <div class="col-md-8">
            <div class="blockLableMarginTop">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="sr-only">Select Variable</label>
                            <mhe-assessment-var-dropdown-menu-dir guid="condition.guid">
                                <mhe-assessment-var-tbl-dir assessment-variables="assessmentVariables" assessment-variable="condition.left.content" guid="condition.guid"/>
                            </mhe-assessment-var-dropdown-menu-dir>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-control" ng-model="condition.operator" ng-options="operator.name group by operator.category for operator in operators">
                                <option value="">-- Operator -- </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="sr-only" for="conditionvalue">Enter Value</label>
                            <input type="text" class="form-control" id="conditionvalue" placeholder="Enter Value" ng-model="condition.content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 pull-right">
            <div class="pull-right blockLableMarginTop">
                <button title="AND" class="btn btn-default" ng-click="addAndConditionBlock(condition)">AND</button>
                <button title="OR" class="btn btn-default" ng-click="addOrConditionBlock(condition)">OR</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
