<div class="assessmentVariableSelectionTable">
	<link rel="stylesheet"
	      type="text/css"
	      href="resources/editors/js/app/directives/assessmentVariableTable/assessmentVariableTable.css">

	<div ng-if="showList">
		<div class="row">
			<div class="col-md-6">
				<label class="sr-only">Select Assessment Variable Type</label>
				<select class="form-control" ng-model="searchObj.type" ng-options="assessmentVariableType for assessmentVariableType in assessmentVariableTypes">
					<option value=""> -- Choose Type --</option>
				</select>
			</div>
			<div class="col-md-6">
				<label class="sr-only">Assessment Variable Search</label>
				<input type="text" class="form-control" ng-model="avSearch" placeholder="Assessment Variable Search">
			</div>
		</div>
		<br>

		<div class="row">

			<div class="col-md-12">

				<table ng-table="tableParams" class="table table-hover">
					<tr ng-repeat="av in $data | filter:avSearch" ng-class-odd="'odd'" ng-class-even="'even'">
						<td data-title="'Variable Name'" class="col-md-4">{{av.name}}</td>
						<td data-title="'Name'" filter="{ 'displayName': 'text' }" class="col-md-4">{{av.displayName}}</td>
						<td data-title="'Type'" class="col-md-2">{{av.type}}</td>
						<td data-title="'Insert'" class="col-md-2">
	                <span title="Select" class="cursor-pointer pull-right btn btn-link" ng-click="select($event, av);">
	                    <i class="fa fa-arrow-circle-right" title="Select"></i> Select
	                </span>
						</td>
					</tr>
				</table>

			</div>

		</div>
	</div>

	<div ng-switch on="transformationName" class="animate-switch-container" ng-if="showTransformations">

		<div ng-switch-when="appointment" class="animate-switch" class="col-sm-12">
			<h4 ng-bind="assessmentVariable.displayName + ' Transformation'"></h4>
			<form>
				<h5>Transformation Type</h5>
				<p>Delimiter</p>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="inputPrefix">Prefix</label>
							<input type="text" id="inputPrefix" class="form-control" placeholder="Enter Prefix" ng-model="assessmentVariable.transformations[0].params[0]">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="inputLastPrefix">Last Prefix</label>
							<input type="text" id="inputLastPrefix" class="form-control" placeholder="Enter Last Prefix" ng-model="assessmentVariable.transformations[0].params[1]">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="inputSuffix">Suffix</label>
							<input type="text" id="inputSuffix" class="form-control" placeholder="Enter Suffix" ng-model="assessmentVariable.transformations[0].params[2]">
						</div>
					</div>
					<div class="col-md-6"><br>
						<div class="checkbox">
							<input type="checkbox" id="suf_check_01" ng-checked="assessmentVariable.transformations[0].params[3]"> <label for="suf_check_01"> Suffix After Last Entry</label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="inputDefaultText">Default Text</label>
					<input type="text" id="inputDefaultText" class="form-control" placeholder="Enter Default Text" ng-model="assessmentVariable.transformations[0].params[4]">
				</div>

				<div class="text-right">
					<button type="button" class="btn btn-primary" ng-click="applyTransformations(assessmentVariable);">Insert</button>
					<button type="button" class="btn btn-default" ng-click="dismiss()">Cancel</button>
				</div>
			</form>
		</div>

		<div ng-switch-when="multi-select" class="animate-switch" class="col-sm-12">
			<h4 ng-bind="assessmentVariable.displayName + ' Transformation'"></h4>
			<form>
				<h5>Transformation Type</h5>
				<p>Delimiter</p>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="inputPrefix">Prefix</label>
							<input type="text" id="inputPrefix" class="form-control" placeholder="Enter Prefix" ng-model="assessmentVariable.transformations[0].params[0]">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="inputLastPrefix">Last Prefix</label>
							<input type="text" id="inputLastPrefix" class="form-control" placeholder="Enter Last Prefix" ng-model="assessmentVariable.transformations[0].params[1]">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="inputSuffix">Suffix</label>
							<input type="text" id="inputSuffix" class="form-control" placeholder="Enter Suffix" ng-model="assessmentVariable.transformations[0].params[2]">
						</div>
					</div>
					<div class="col-md-6"><br>
						<div class="checkbox">
							<input type="checkbox" id="suf_check_01" ng-checked="assessmentVariable.transformations[0].params[3]"> <label for="suf_check_01"> Suffix After Last Entry</label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="inputDefaultText">Default Text</label>
					<input type="text" id="inputDefaultText" class="form-control" placeholder="Enter Default Text" ng-model="assessmentVariable.transformations[0].params[4]">
				</div>

				<div class="text-right">
					<button type="button" class="btn btn-primary" ng-click="applyTransformations(assessmentVariable);">Insert</button>
					<button type="button" class="btn btn-default" ng-click="dismiss()">Cancel</button>
				</div>
			</form>
		</div>

		<div ng-switch-when="freetext" class="animate-switch" class="col-sm-12">
			<h4 ng-bind="assessmentVariable.displayName + ' Transformation'"></h4>
			<form>
				<div class="form-group">
					<label for="selectTransformationType">Transformation Type</label>
					<select id="selectTransformationType" class="form-control">
						<option>No Tranformation</option>
						<option>Number of Years</option>
					</select>
				</div>

				<div class="text-right">
					<button type="button" class="btn btn-primary" ng-click="applyTransformations(assessmentVariable);">Insert</button>
					<button type="button" class="btn btn-default" ng-click="dismiss()">Cancel</button>
				</div>
			</form>
		</div>

		<div ng-switch-when="single-matrix" class="animate-switch" class="col-sm-12">
			<matrix-transformation assessment-variable="assessmentVariable" applyTransformations="applyTransformations" dismiss="dismiss"></matrix-transformation>
		</div>

		<div ng-switch-when="multi-matrix" class="animate-switch" class="col-sm-12">
			<h4 ng-bind="assessmentVariable.displayName + ' Transformation'"></h4>

			<h5>Transformation Type (Matrix to list)</h5>

			<p>Delimiter</p>

			<p class="bg-info">Have to select at least one column and one row</p>

			<hr />

			<form>
				<div class="row">
					<div class="col-sm-6 col-xs-6">
						<h5>Columns (Answers)</h5>
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="answer in matrixAnswers track by $index">
								<div class="checkbox">
									<input type="checkbox" id="{{ answer.id }}" ng-model="answer.checked" ng-change="updateSelectedMatrixAnswers()">
									<label for="{{ answer.id }}" ng-bind="answer.text"></label>
								</div>
							</li>
						</ul>

					</div>

					<div class="col-sm-6  col-xs-6">
						<h5>Rows (Questions)</h5>
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="question in matrixQuestions track by $index">

								<div class="checkbox">
									<input type="checkbox" id="{{ question.id }}" ng-model="question.checked" ng-change="updateSelectedMatrixQuestions()">
									<label for="{{ question.id }}" ng-bind="question.variableName"></label>
								</div>
								<div class="form-group">
									<label for="TextInput">Output Text</label>
									<input type="text" id="TextInput" class="form-control" placeholder="Enter Output Text" ng-model="question.outputText">
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div class="text-right">
					<button type="button" class="btn btn-primary" ng-click="applyTransformations(assessmentVariable);">Insert</button>
					<button type="button" class="btn btn-default" ng-click="dismiss()">Cancel</button>
				</div>
			</form>
		</div>

		<div ng-switch-when="table" class="animate-switch" class="col-sm-12">
			<h4 ng-bind="assessmentVariable.displayName + ' Transformation'"></h4>
			<form>
				<div class="form-group">
					<label for="selectTransformationType">Transformation Type</label>
					<select id="selectTransformationType" class="form-control" ng-model="transformationType">
						<option value="delimiter">Delimiter</option>
						<option value="number">Number of Entries</option>
					</select>
				</div>

				<div ng-if="transformationType === 'delimiter'">

					<div class="form-group">
						<label for="selectChildQuestion">Select Child Question</label>
						<select id="selectChildQuestion" class="form-control">
							<option>Select Child Question</option>
							<option>Child Question 1</option>
							<option>Child Question 2</option>
						</select>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="inputPrefix">Prefix</label>
								<input type="text" id="inputPrefix" class="form-control" placeholder="Enter Prefix" ng-model="assessmentVariable.transformations[0].params[0]">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="inputLastPrefix">Last Prefix</label>
								<input type="text" id="inputLastPrefix" class="form-control" placeholder="Enter Last Prefix" ng-model="assessmentVariable.transformations[0].params[1]">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="inputSuffix">Suffix</label>
								<input type="text" id="inputSuffix" class="form-control" placeholder="Enter Suffix" ng-model="assessmentVariable.transformations[0].params[2]">
							</div>
						</div>
						<div class="col-md-6"><br>
							<div class="checkbox">
								<input type="checkbox" id="suf_check_01" ng-checked="assessmentVariable.transformations[0].params[3]"> <label for="suf_check_01"> Suffix After Last Entry</label>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="inputDefaultText">Default Text</label>
						<input type="text" id="inputDefaultText" class="form-control" placeholder="Enter Default Text" ng-model="assessmentVariable.transformations[0].params[4]">
					</div>

				</div>

				<div class="text-right">
					<button type="button" class="btn btn-primary" ng-click="applyTransformations(assessmentVariable);">Insert</button>
					<button type="button" class="btn btn-default" ng-click="dismiss()">Cancel</button>
				</div>
			</form>
		</div>

	</div>

</div>
