<h1>Editors</h1>

<div class="row text-center">
    <div class="text-center col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Battery
                </h3>
            </div>
            <div class="panel-body">
                <div class="btn-group-vertical">
                    <a class="btn btn-default" ng-click="goToBatteryNew();"><span class="glyphicon glyphicon-plus" ></span> New Battery</a>
                    <a class="btn btn-default" ng-click="goToBatteryEdit();"><span class="glyphicon glyphicon-edit" ></span> Edit Battery</a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Module
                </h3>
            </div>
            <div class="panel-body"  style="min-height:97px;">
                <div class="btn-group-vertical">
                    <!-- JH OOOCOMMENT <a  class="btn btn-default" ng-click="goToModuleNew();"><span class="glyphicon glyphicon-plus" ></span> New Module</a> -->
                    <a  class="btn btn-default" ng-click="goToModuleEdit();"><span class="glyphicon glyphicon-edit"></span> Edit Module</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Section
                </h3>
            </div>
            <div class="panel-body" style="min-height:97px;">
                <div class="btn-group-vertical">
                    <!--<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New Section</a>-->
                    <a class="btn btn-default" ng-click="goToSections();"><span class="glyphicon glyphicon-edit"></span> Edit Section</a>
                </div>
            </div>
        </div>
    </div>
</div>