body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
}
#u2 {
  position:absolute;
  left:2px;
  top:42px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:29px;
  top:10px;
  width:271px;
  height:79px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:79px;
}
#u4 {
  position:absolute;
  left:2px;
  top:32px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:880px;
  top:14px;
  width:298px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:15px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:17px;
  top:246px;
  width:274px;
  height:137px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:137px;
}
#u9 {
  position:absolute;
  left:2px;
  top:60px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:17px;
  top:210px;
  width:150px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:308px;
  top:246px;
  width:274px;
  height:137px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:137px;
}
#u13 {
  position:absolute;
  left:2px;
  top:60px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:308px;
  top:210px;
  width:161px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:58px;
  top:276px;
  width:192px;
  height:34px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:34px;
  font-family:'Arial Regular', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u17 {
  position:absolute;
  left:58px;
  top:324px;
  width:192px;
  height:34px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:34px;
  font-family:'Arial Regular', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u18 {
  position:absolute;
  left:349px;
  top:273px;
  width:192px;
  height:34px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:34px;
  font-family:'Arial Regular', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u19 {
  position:absolute;
  left:349px;
  top:321px;
  width:192px;
  height:34px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:34px;
  font-family:'Arial Regular', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20 {
  position:absolute;
  left:602px;
  top:246px;
  width:274px;
  height:137px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:137px;
}
#u21 {
  position:absolute;
  left:2px;
  top:60px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:602px;
  top:210px;
  width:152px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:24px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:643px;
  top:273px;
  width:192px;
  height:34px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:34px;
  font-family:'Arial Regular', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u25 {
  position:absolute;
  left:643px;
  top:321px;
  width:192px;
  height:34px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:34px;
  font-family:'Arial Regular', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u26 {
  position:absolute;
  left:0px;
  top:100px;
}
#u26_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u26_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:20px;
  top:2px;
  width:998px;
  height:26px;
}
#u30_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1004px;
  height:32px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:1003px;
  height:31px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
}
#u33 {
  position:absolute;
  left:2px;
  top:5px;
  width:89px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:93px;
  top:0px;
  width:139px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:26px;
}
#u35 {
  position:absolute;
  left:2px;
  top:5px;
  width:135px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:232px;
  top:0px;
  width:81px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
}
#u37 {
  position:absolute;
  left:2px;
  top:5px;
  width:77px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:313px;
  top:0px;
  width:116px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:26px;
}
#u38_img.selected {
}
#u38.selected {
}
#u38_img.mouseOver {
}
#u38.mouseOver {
}
#u39 {
  position:absolute;
  left:2px;
  top:5px;
  width:112px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:429px;
  top:0px;
  width:129px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:26px;
}
#u41 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:558px;
  top:0px;
  width:139px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:26px;
}
#u43 {
  position:absolute;
  left:2px;
  top:5px;
  width:135px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:697px;
  top:0px;
  width:176px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:26px;
}
#u45 {
  position:absolute;
  left:2px;
  top:5px;
  width:172px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:873px;
  top:0px;
  width:125px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:26px;
}
#u47 {
  position:absolute;
  left:2px;
  top:5px;
  width:121px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1130px;
  top:4px;
  width:60px;
  height:20px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:897px;
  top:246px;
  width:274px;
  height:137px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:137px;
}
#u51 {
  position:absolute;
  left:2px;
  top:60px;
  width:270px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:897px;
  top:210px;
  width:178px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:24px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:938px;
  top:273px;
  width:192px;
  height:34px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:34px;
  font-family:'Arial Regular', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u55 {
  position:absolute;
  left:938px;
  top:321px;
  width:192px;
  height:34px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:34px;
  font-family:'Arial Regular', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u57 {
  position:absolute;
  left:0px;
  top:580px;
  width:1200px;
  height:50px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
}
#u58 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:9px;
  top:598px;
  width:521px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:13px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  word-wrap:break-word;
}
