<style type="text/css">
    [ng\:cloak], [ng-cloak], .ng-cloak {
        display: none !important;
    }
</style>
<div class="container" ng-cloak class="ng-cloak">
    <div class="row">
        <div class="col-md-6">
            <h1>Manage Formulas for {{module.name}}</h1>
        </div>
        <div class="col-md-6">
            <div class="btn-layout pull-right">
                <button ng-click="create();" class="btn btn-primary h1_button" type="button">Create Formula</button>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <alert ng-repeat="msg in msgs" type="msg.type" close="closeAlert($index)">{{msg.text}}</alert>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 column">
            <table show-filter="false" class="table table-hover">
                <thead>
                <tr>
                    <th class="col-md-3">Variable Name</th>
                    <th class="col-md-7">Formula</th>
                    <th class="col-md-2">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="f in formulas" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td class="col-md-3">{{f.name}}</td>
                    <td class="col-md-7" ng-mouseover="f.template">{{f.formula}}</td>
                    <td class="col-md-2">
                        <div class="pull-right">
                            <div class="cursor-pointer">
                                    <span title="Edit"
                                          ng-click="edit(f);" class="btn btn-default btn-xs"><i
                                            class="glyphicon glyphicon-edit"></i> Edit  &nbsp; &nbsp;</span>

                                    <!-- TODO implement this after we have designed the soft-delete concept
                                    <span title="Delete"
                                          ng-really-message="Permanently delete template?"
                                          ng-really-click="delete(f);" class="btn btn-default btn-xs"><i
                                            class="glyphicon glyphicon-remove-circle delete-red"></i> Delete </span>
                                    -->

                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <pagination total-items="pagination.totalItems" ng-model="pagination.currentPage" max-size="pagination.maxSize"
                class="pagination-sm" boundary-links="true"></pagination>
</div>