<div class="row">
    <div class="col-md-12">
        <div class="row center-block">
            <div class="btn-group-sm">
                <button class="btn btn-default btn-sm">Variables</button>
                <button class="btn btn-default btn-sm">Operators</button>
                <button class="btn btn-default btn-sm">Constants</button>
            </div>
        </div>
        <hr>
        <!-- Variables -->
        <div class="row">
            <!--- ngTable Begin --->
            <table ng-table="variableParams" show-filter="true" class="table">
                <tr ng-repeat="variable in $data" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td data-title="'Name'" sortable="'title'" filter="{ 'name': 'text' }">
                        {{variable.title}}
                    </td>
                    <td data-title="'Type'" sortable="'type'" filter="{ 'type': 'text' }">
                        {{variable.type}}
                    </td>
                </tr>
            </table>
        </div>
        <!--- /ngTable --->
        </div>
        <!-- Operators -->
        <div class="row">
            <div class="row">
                <div class="col-md-3">
                    <a href="#" class="btn btn-success btn-xlarge" style="height:50px;width:50px;"><span class="glyphicon glyphicon-plus"></span></a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="btn btn-success btn-xlarge" style="height:50px;width:50px;"><span class="glyphicon glyphicon-minus"></span></a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="btn btn-success btn-xlarge" style="height:50px;width:50px;"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="btn btn-success btn-xlarge" style="font-weight:900;height:50px;width:50px;">/</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <a href="#" class="btn btn-success btn-xlarge" style="font-weight:900;height:50px;width:50px;">%</a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="btn btn-success btn-xlarge" style="font-weight:900;height:50px;width:50px;">(</span></a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="btn btn-success btn-xlarge" style="font-weight:900;height:50px;width:50px;">)</span></a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="btn btn-success btn-xlarge" style="font-weight:900;height:50px;width:50px;">=</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <a href="#" class="btn btn-success btn-xlarge" style="font-weight:900;height:50px;width:50px;">AND</a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="btn btn-success btn-xlarge" style="font-weight:900;height:50px;width:50px;">OR</a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="btn btn-success btn-xlarge" style="font-weight:900;height:50px;width:50px;">{</a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="btn btn-success btn-xlarge" style="font-weight:900;height:50px;width:50px;">}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <a href="#" class="btn btn-success btn-xlarge" style="height:50px;width:50px;"><span class="glyphicon glyphicon-chevron-left"></span></a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="btn btn-success btn-xlarge" style="height:50px;width:50px;"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">

                </div>
            </div>
        </div>
        <!-- Formula Constants -->
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item">Height Calculation</li>
                <li class="list-group-item">Height Composite</li>
                <li class="list-group-item">Education (Total Years)</li>
                <li class="list-group-item">Total Service</li>
                <li class="list-group-item">BMI</li>
            </ul>
        </div>
    </div>
</div>