<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Edit Battery</h1>
            </div>
            <form class="form-inline">
                <div class="form-group">
                    <label>
                        Battery Title
                    </label>
                    <input type="text" class="col-sm-6 form-control">
                </div>
                <div class="form-group pull-right">
                    <label>
                        Description
                    </label>
                    <input type="text" class="col-sm-6 form-control">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="page-header">
                <h3>
                    Modules
                </h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    Identification
                </li>
                <li class="list-group-item">
                    Demographics
                </li>
                <li class="list-group-item">
                    General Health
                </li>
                <li class="list-group-item">
                    General Mental Health
                </li>
                <li class="list-group-item">
                    PTSD Module - OEF
                </li>
            </ul>
            <span class="label label-default">Add Section</span>
            <a href="#" class="btn btn-default pull-right btn-sm">(Drag)</a>
            <hr>
            <span class="label label-default">Pages</span>
            <ul class="pagination pull-right">
                <li>
                    <a href="#">Prev</a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">Next</a>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="page-header">
                <h3>
                    Example Battery 1
                </h3>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Identification Section  <span class="glyphicon glyphicon-edit pull-right"></span>
                    </h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-align-justify pull-left"></span>&nbsp;&nbsp;
                            Identification
                            <div class="form-group pull-right">
                                <span class="glyphicon glyphicon-edit"></span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-align-justify pull-left"></span>&nbsp;&nbsp;
                            Demographics
                            <div class="form-group pull-right">
                                <span class="glyphicon glyphicon-edit"></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Physical and Mental Health Section <span class="glyphicon glyphicon-edit pull-right"></span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-align-justify pull-left"></span>&nbsp;&nbsp;
                                Phsyical Health
                                <div class="form-group pull-right">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-align-justify pull-left"></span>&nbsp;&nbsp;
                                Mental Health
                                <div class="form-group pull-right">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <span class="glyphicon glyphicon-align-justify pull-left"></span>&nbsp;&nbsp;
                                PTSD Module - OEF
                                <div class="form-group pull-right">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <ul class="pagination pull-right">
                        <li>
                            <a href="#">Prev</a>
                        </li>
                        <li>
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row pull-right">
        <div class="col-md-12">
            <a href="#" class="btn btn-primary" ng-click="goToSelection();">Save</a>
        </div>
    </div>
</div>