<div class="container-fluid">
    <div class="row" ng-show="qoCollapsed">
        <div class="col-md-12">
            <h3>
                Question Operator View
            </h3>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                        </p>
                    </div>
                </div>
                <form class="form-inline col-sm-12">
                    <div class="form-group col-sm-5 pull-left">
                        <label class="col-sm-3 control-label">
                            Name
                        </label>
                        <div class="col-sm-3-offset col-sm-9">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group col-sm-5 pull-right">
                        <label class="col-sm-3 form-label">
                            Description
                        </label>
                        <div class="col-sm-3-offset col-sm-9">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="col-sm-5">
                            Questions
                        </h3>
                        <div class="form-group form-inine pull-right">
                            <span class="label label-default">Filter</span>
                            <div class="btn-group">
                                <a href="#" class="btn btn-default">All</a>
                                <a href="#" class="btn btn-default">Module</a>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">14</span>
                        Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="badge">2</span>
                        Dapibus ac facilisis in
                    </li>
                    <li class="list-group-item">
                        <span class="badge">1</span>
                        Morbi leo risus
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" ng-show="aoCollapsed">
        <div class="col-md-12">
            <h3>
                Answer Operator View
            </h3>
            <div class="container">
                <div class="row">
                    <form class="form-inline col-sm-12">
                        <div class="form-group col-sm-5 pull-left">
                            <label class="col-sm-3 control-label">
                                Name
                            </label>
                            <div class="col-sm-3-offset col-sm-9">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-sm-5 pull-right">
                            <label class="col-sm-3 form-label">
                                Description
                            </label>
                            <div class="col-sm-3-offset col-sm-9">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="col-sm-5">
                            Questions
                        </h3>
                        <div class="form-group form-inine pull-right">
                            <span class="label label-default">Filter</span>
                            <div class="btn-group">
                                <a href="#" class="btn btn-default">All</a>
                                <a href="#" class="btn btn-default">Module</a>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">14</span>
                        Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="badge">2</span>
                        Dapibus ac facilisis in
                    </li>
                    <li class="list-group-item">
                        <span class="badge">1</span>
                        Morbi leo risus
                    </li>
                </ul>
                <div class="page-header">
                    <h3>
                        Answers
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">14</span>
                        Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="badge">2</span>
                        Dapibus ac facilisis in
                    </li>
                    <li class="list-group-item">
                        <span class="badge">1</span>
                        Morbi leo risus
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" ng-show="csCollapsed">
        <div class="col-md-12">
            <h3>
                Custom Operator View
            </h3>
            <div class="container">
                <div class="page-header">
                    <h3>
                        Operators
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">14</span>
                        Cras justo odio
                    </li>
                    <li class="list-group-item">
                        <span class="badge">2</span>
                        Dapibus ac facilisis in
                    </li>
                    <li class="list-group-item">
                        <span class="badge">1</span>
                        Morbi leo risus
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" ng-show="fCollapsed">
        <div class="col-md-12">
            <h3>
                Formula Operator View
            </h3>
        </div>
    </div>
    <div class="row" ng-show="fsCollapsed">
        <div class="col-md-12">
            <h3>
                Formula Statement Editor
            </h3>
            <div class="row">
                <div class="col-md-12">
                    <form class="form-inline">
                        <div class="form-group col-sm-4">
                            <label>
                                Title
                            </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group pull-right col-sm-8">
                            <label>
                                Description
                            </label>
                            <input type="text" class="form-control">
                        </div>
                    </form>
                </div>
            </div>
        <hr>
    <div class="row">
    <div class="col-md-4 column">
        <div class="panel-group" id="panel-307263">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="panel-title" data-toggle="collapse" data-parent="#panel-307263"
                       href="#panel-element-438457">Operations</a>
                </div>
                <div id="panel-element-438457" class="panel-collapse in">
                    <div class="panel-body">
                        <div class="form-inline">
                            <button class="btn btn-default">
                                +
                            </button>
                            <button class="btn btn-default">
                                -
                            </button>
                            <button class="btn btn-default">
                                x
                            </button>
                            <button class="btn btn-default">
                                /
                            </button>
                            <button class="btn btn-default">
                                %
                            </button>
                            <button class="btn btn-default">
                                (
                            </button>
                            <button class="btn btn-default">
                                )
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-307263"
                       href="#panel-element-810253">Constants</a>
                </div>
                <div id="panel-element-810253" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="panel-body">
                            <div class="form-inline">
                                <button class="btn btn-default">
                                    C1
                                </button>
                                <button class="btn btn-default">
                                    C2
                                </button>
                                <button class="btn btn-default">
                                    C3
                                </button>
                                <button class="btn btn-default">
                                    C4
                                </button>
                                <button class="btn btn-default">
                                    C5
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="panel-title" data-toggle="collapse" data-parent="#panel-307263"
                       href="#panel-element-438457">Defined Variables</a>
                </div>
                <div id="panel-element-438457" class="panel-collapse in">
                    <div class="panel-body">
                        <ul class="list-vertical">
                            <li class="list-group-item">
                                Question Variable 1
                            </li>
                            <li class="list-group-item">
                                Question Variable 2
                            </li>
                            <li class="list-group-item">
                                Question Variable 3
                            </li>
                            <li class="list-group-item">
                                Question Variable 4
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="form-group">
                    <label>
                        Expression Editor
                    </label>
                    <ul id="lExpressionBuild" class="list-inline">
                        <li class="list-group-item">
                            <label class="form-label">
                                [Height (ft)]
                            </label>
                        </li>
                        <li class="list-group-item">
                            <label class="form-label">
                                *
                            </label>
                        </li>
                        <li class="list-group-item">
                            <label class="form-label">
                                [12]
                            </label>
                        </li>
                        <li class="list-group-item">
                            <label class="form-label">
                                +
                            </label>
                        </li>
                        <li class="list-group-item">
                            <label class="form-label">
                                [Height (in)]
                            </label>
                        </li>
                    </ul>
                    <hr>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="control-label">
                        Expression Preview
                    </label>
                    <div>
                        <ul id="lRulePreview" class="list-inline">
                            <li class="list-group-item">
                                <label for="txtOpVal1" class="control-label">
                                    Op Value 1
                                </label>
                                <div class="pull-right col-sm-3">
                                    <input type="text" id="txtOpVal1" class="form-control" value="43">
                                </div>
                            </li>
                            <li>
                                <label class="form-label">
                                    ...
                                </label>
                            </li>
                            <li class="list-group-item">
                                <label for="txtOpVal2" class="control-label">
                                    Op Value2
                                </label>
                                <div class="pull-right col-sm-3">
                                    <input type="text" id="txtOpVal2" class="form-control" value="42">
                                </div>
                            </li>
                            <li>
                            </li>
                            <li>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <h4>
                    Output
                </h4>
                <hr>
                <form class="form-horizontal">
                    <div class="form-group form-inline">
                        <ul class="list-group">
                        </ul>
                        <a href="#" class="btn btn-info btn-sm pull-right"><span class="glyphicon glyphicon-plus"></span>Test Expression</a>
                    </div>
                </form>
                <div class="form-group">
                    <textarea class="form-control"></textarea>
                </div>
            </div>
</div></div></div></div></div>

    <div class="row" ng-show="moCollapsed">
        <div class="col-md-12">
            <h3>Map Assessment Operators</h3>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-inline">
                            <div class="form-group pull-left">
                                <label>
                                    Select Formula
                                </label>
                                <select class="form-control" id="selFormula" name="selFormula">
                                    <option value="0">
                                        BMI
                                    </option>
                                    <option value="1">
                                        Height/Weight
                                    </option>
                                    <option value="2">
                                        Some Formula
                                    </option>
                                </select>
                            </div>
                            <div class="form-group pull-right">
                                <label>
                                    Filter Type
                                </label>
                                <select class="form-control" id="selType">
                                    <option value="pizza">
                                        Pizza
                                    </option>
                                    <option value="salad">
                                        Salad
                                    </option>
                                    <option value="pizzasalad">
                                        Pizza and Salad
                                    </option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="page-header">
                    <h3>
                        Operators ('Variables')
                        <div class="btn-group-sm pull-right">
                            <a href="javascript:void(0);" class="btn btn-success" ng-model="qoCollapsed" ng-click="viewQOperator();"><span class="glyphicon glyphicon-plus"></span> Question Operator</a>
                            <a href="javascript:void(0);" class="btn btn-success" ng-model="aoCollapsed" ng-click="viewAOperator();"><span class="glyphicon glyphicon-plus"></span> Answer Operator</a>
                            <a href="javascript:void(0);" class="btn btn-success" ng-model="csCollapsed" ng-click="viewCOperator();"><span class="glyphicon glyphicon-plus"></span> Custom Operator</a>
                            <a href="javascript:void(0);" class="btn btn-success" ng-model="fCollapsed" ng-click="viewFOperator();"><span class="glyphicon glyphicon-plus"></span> Formula Operator</a>
                        </div>
                    </h3>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge">14</span>
                                Cras justo odio
                            </li>
                            <li class="list-group-item">
                                <span class="badge">2</span>
                                Dapibus ac facilisis in
                            </li>
                            <li class="list-group-item">
                                <span class="badge">1</span>
                                Morbi leo risus
                            </li>
                        </ul>
                        <div class="page-header">
                            <h3>
                                Edit Formula Assignments
                            </h3>
                        </div>
                        <div class="form-group">
                            <a href="javascript:void(0);" class="btn btn-success btn-sm pull-right" ng-click="viewSEditor();"><span class="glyphicon glyphicon-plus"></span> New Formula</a>
                            <label>
                            </label>
                            <textarea class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary pull-right" ng-click="dismiss();">Save</button>
        </div>
    </div>
</div>