<h4> Properties </h4>
<div class="row">
    <div class="col-md-12">
        <form class="form" role="form">
            <div class="form-group">
                <label for="txtVariableNm" class="form-label"> Variable Name </label>
                <input type="text" id="txtVariableNm" class="form-control" placeholder="VISTA Variable #"
                       ng-model="selectedQuestionUIObject.variableName" ng-disabled="!module.clinicalReminder">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12 column">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-10"></div>
            </div>
        </form>
        <div class="form-group">
            <label> Question Text </label>
            <textarea class="form-control" ng-model="selectedQuestionUIObject.text"></textarea>
        </div>
        <div class="form-group">
            <label> VistA Question Text </label>
            <textarea class="form-control" ng-model="selectedQuestionUIObject.vistaText"
                      ng-disabled="!module.clinicalReminder"></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <form class="form">
            <div class="form-group">
                <label> Text Format </label>
                <select class="form-control" ng-model="currentlySelectedTextFormatDropDownMenu"
                        ng-options="textFormatType.value for textFormatType in currentlySelectedTextFormatDropDownMenuOptions"
                        ng-disabled="vistaDisable" ng-blur="blur();" ng-change="showValidation()">
                    <option value=""> -- Choose Type --</option>
                </select>
            </div>
            <!-- JH OOOCOMMENT
            <div class="form-group">
              <label> Help Text </label>
              <input type="text" class="form-control" ng-model="selectedQuestionUIObject.helpText">
            </div>
            -->
            <div class="form-group form-inline">
                <label class="checkbox">
                    <input ng-model="selectedQuestionUIObject.ppi" type="checkbox" ng-true-value="true"
                           ng-false-value="false"> PPI </label> &nbsp;&nbsp;
                <label class="checkbox">
                    <input ng-model="required" type="checkbox" ng-true-value="true" ng-false-value="false"> Required
                </label>
            </div>
            <!-- JH OOOCOMMENT
            <div class="btn-group"> <a href="#" class="btn btn-success">Calculation Value</a> <a href="#" class="btn btn-success">Calculation Type</a> </div>
            -->
        </form>
    </div>
    <div class="col-md-6">
        <h4> Validations </h4>

        <form class="form">

            <div class="form-group" ng-show="showExactLengthField">
                <label class="form-label">Exact Length</label>

                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-model="exactLengthField.selected">
                    </span>
                    <input type="number" class="form-control" placeholder="0" ng-model="exactLengthField.value" ng-disabled="!exactLengthField.selected">
                </div>
                <!-- /input-group -->
            </div>

            <div class="form-group" ng-show="showMinLengthField">
                <label class="form-label">Min Length</label>

                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-model="minLengthField.selected">
                    </span>
                    <input type="number" class="form-control" placeholder="0" ng-model="minLengthField.value" ng-disabled="!minLengthField.selected">
                </div>
                <!-- /input-group -->
            </div>
            <div class="form-group" ng-show="showMaxLengthField">
                <label class="form-label">Max Length</label>

                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-model="maxLengthField.selected">
                    </span>
                    <input type="number" class="form-control" placeholder="0" ng-model="maxLengthField.value" ng-disabled="!maxLengthField.selected">
                </div>
                <!-- /input-group -->
            </div>
            <div class="form-group" ng-show="showMinValueField">
                <label class="form-label">Min Value</label>

                <div class="input-group">
                <span class="input-group-addon">
                    <input type="checkbox" ng-model="minValueField.selected">
                </span>
                    <input type="text" class="form-control" placeholder="0" ng-model="minValueField.value" ng-disabled="!minValueField.selected">
                </div>
                <!-- /input-group -->
            </div>
            <div class="form-group" ng-show="showMaxValueField">
                <label class="form-label">Max Value</label>

                <div class="input-group">
                <span class="input-group-addon">
                    <input type="checkbox" ng-model="maxValueField.selected">
                </span>
                    <input type="number" class="form-control" placeholder="0" ng-model="maxValueField.value" ng-disabled="!maxValueField.selected">
                </div>
                <!-- /input-group -->
            </div>
        </form>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <div class="form-group pull-right">
            <button class="btn btn-primary" ng-click="save();">Save</button>
            <button class="btn btn-default" ng-click="cancel();">Cancel</button>
        </div>
    </div>
</div>
