<div class="row">
    <div class="col-md-12">
        <div class="form-inline form-group pull-right">
            <label for="selType" class="col-sm-5 form-label">Question Type</label>
            <div class="col-sm-5-offset col-sm-7">
                <select id="selType" ng-model="questionTypeDropDownMenu"
                        ng-options="option.displayName for option in questionTypeDropDownMenuOptions track by option.displayName"
                        ng-disabled="disableDropDownMenu()"
                        name="selType"
                        class="form-control">
                    <option value=""> -- Choose Question Type --</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" ui-view>

    </div>
</div>
