<div class="row">
    <div class="col-md-12">
        <div class="form-horizontal1">
            <div class="form-inline form-group">
                <label for="selType" class="form-label col-md-6 text-right">Question Type</label>

                <div class="col-md-6">
                    <select id="selType" ng-model="questionTypeDropDownMenu"
                            ng-options="option.displayName for option in questionTypeDropDownMenuOptions track by option.displayName"
                            ng-disabled="disableDropDownMenu()"
                            name="selType"
                            class="form-control">
                        <option value=""> -- Choose Question Type --</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" ui-view>

    </div>
</div>
