
<div class="row">
    <div class="col-sm-12" style="min-height:130px;">
    </div>
</div>

<div class="row">
    <div class="col-sm-12" style="min-height:20px;text-align: center;">
      <!-- JH OOOCOMMENT
      <button class="btn btn-success" style="display:inline;position:relative;top:50%;" ng-click="addQuestion();">
        <span class="glyphicon glyphicon-plus"></span>
        Add Question
      </button>
      -->

      Select one of the left side questions to edit.
    </div>
</div>
<div class="row">
    <div class="col-sm-12" style="min-height:130px;">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group pull-right">
            <button class="btn btn-primary" ng-click="save();">Save</button>
            <button class="btn btn-default" ng-click="cancel();">Cancel</button>
        </div>
    </div>
</div>