<h4>Question Properties</h4>
<div class="row">
  <div class="col-md-12 column">
    <form class="form" role="form">
      <div class="form-group">
        <label for="txtVariableNm"> Variable Name </label>
        <input type="text" ng-model="selectedPageQuestionItem.getItem().variableName" id="txtVariableNm" class="form-control" placeholder="Variable Name">
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-12 column">
      <form role="form" class="form-horizontal">
        <div class="form-group">
          <label> Question Text </label>
          <textarea class="form-control" ng-model="selectedPageQuestionItem.getItem().text"></textarea>
        </div>
      </form>
    </div>
  </div>
</div>
<!--
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label> VistA Question Text </label>
      <textarea class="form-control" ng-model="selectedQuestionUIObject.vistaText" ng-disabled="!module.clinicalReminder"></textarea>
    </div>
  </div>
</div>
//-->
<div class="row">
  <div class="col-md-12">
    <form class="form">
      <!-- JH OOOCOMMENT
                <div class="btn-group col-sm-5">
                    <a href="#" class="btn btn-success btn-sm active">Select Single</a>
                    <a href="#" class="btn btn-success btn-sm">Select Multiple</a>
                </div>
                -->
      <div class="form-group form-inline">
        <label class="checkbox">
          <input type="checkbox" ng-model="selectedPageQuestionItem.getItem().required"> Required </label>
        <label class="checkbox">
          <input type="checkbox" ng-model="selectedPageQuestionItem.getItem().ppi"> PPI </label>
        <!--  <label class="checkbox">
          <input type="checkbox"> MHA </label>-->
      </div>
      
      <!-- JH OOOCOMMENT
            <div class="form-group form-inline">
                <label class="col-sm-4">
                    Help Text
                </label>
                <div class="col-sm-4-offset">
                    <input type="text" class="form-control">
                </div>
            </div>
            -->
    </form>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
      <!--a href="javascript:void(0);" class="btn btn-primary pull-right btn-sm"><span class="glyphicon glyphicon-plus"></span>Add</a-->
      <h4>Answers Properties</h4>
  </div>
</div>
<div class="row">
  <ul class="list-group odd-even-list">
    <li class="list-group-item" ng-repeat="answerUIObject in selectedPageQuestionItem.getItem().answers">
      <div class="form-group">
        <label> {{$index + 1}}. Answer Text </label>
        <input type="text" class="form-control" ng-model="answerUIObject.text" placeholder="Enter Answer Text">
        <br>
      </div>
      <!--<label class="checkbox">
                    <input type="checkbox" >
                    &nbsp;PPI
                </label>--> 
      
      <!-- JH OOOCOMMENT
                <button type="submit" class="btn btn-info btn-xs">
                    Add Rule
                </button>
                --->
      
      <div class="form-group">
        <label> Export Value </label>
        <input type="text" class="form-control" ng-model="answerUIObject.exportName" ng-disabled="!module.clinicalReminder" placeholder="Enter Export Value">
      </div>
      <!--
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label> VistA Answer Text </label>
            <textarea class="form-control" ng-model="answerUIObject.vistaText" ng-disabled="!module.clinicalReminder"></textarea>
          </div>
        </div>
      </div>
      //-->
      <div class="row">
        <div class="col-md-12">
        
        <div class="checkbox">
            <label>
            <input type="checkbox" ng-model="answerUIObject.type" ng-true-value="other" ng-false-value="{{ null }}"> Other
            </label>
        </div>
  
  
          
        </div>
      </div>
      
      <!-- JH OOOCOMMENT
        <div class="btn-group pull-right">
            <a href="#" class="btn btn-default btn-xs">Calculation Value</a>
            <a href="#" class="btn btn-default btn-xs">Calculation Type</a>
            <a href="#" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove" style="color:red;"></span></a>
        </div>
        --> 
      
    </li>
  </ul>
</div>