<form name="selectedQuestionTypeForm" novalidate>

    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <div><strong>Select Question Type</strong></div>
                <div ng-repeat="questionTypeDropDownMenuOption in questionTypeDropDownMenuOptions">
                    <input type="radio" name="questionTypes" ng-required="true"
                           ng-model="questionTypeSelection.type"
                           value="{{questionTypeDropDownMenuOption.name}}" id="{{questionTypeDropDownMenuOption.name}}"> <label for="{{questionTypeDropDownMenuOption.name}}">{{questionTypeDropDownMenuOption.displayName}}</label>
                </div>
                <hr />
                <button class="btn btn-primary btn-sm"
                        ng-disabled="selectedQuestionTypeForm.$invalid"
                        ng-click="goToQuestionTypeForm();">Next <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
                <!--div class="col-md-4">
                    <select id="selectQuestionType" name="selectQuestionType" class="form-control"
                            ng-model="questionTypeDropDownMenu"
                            ng-options="option.displayName for option in questionTypeDropDownMenuOptions track by option.displayName"
                            ng-disabled="disableDropDownMenu()" required>
                        <option value=""> -- Choose Question Type --</option>
                    </select>
                </div-->
            </div>
        </div>
    </div>
</form>