body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:389px;
  top:257px;
  width:787px;
  height:663px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:663px;
}
#u1 {
  position:absolute;
  left:2px;
  top:324px;
  width:783px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:399px;
  top:335px;
  width:766px;
  height:74px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:74px;
}
#u3 {
  position:absolute;
  left:2px;
  top:29px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
}
#u6 {
  position:absolute;
  left:2px;
  top:42px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:29px;
  top:10px;
  width:271px;
  height:79px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:79px;
}
#u8 {
  position:absolute;
  left:2px;
  top:32px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:880px;
  top:14px;
  width:298px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:15px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:100px;
  width:1200px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:20px;
  top:102px;
  width:873px;
  height:26px;
}
#u15_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:879px;
  height:32px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:31px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
}
#u18 {
  position:absolute;
  left:2px;
  top:5px;
  width:89px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:93px;
  top:0px;
  width:139px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:26px;
}
#u20 {
  position:absolute;
  left:2px;
  top:5px;
  width:135px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:232px;
  top:0px;
  width:81px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
}
#u22 {
  position:absolute;
  left:2px;
  top:5px;
  width:77px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:313px;
  top:0px;
  width:116px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:26px;
}
#u23_img.selected {
}
#u23.selected {
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u24 {
  position:absolute;
  left:2px;
  top:5px;
  width:112px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:429px;
  top:0px;
  width:129px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:26px;
}
#u26 {
  position:absolute;
  left:2px;
  top:5px;
  width:125px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:558px;
  top:0px;
  width:139px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:26px;
}
#u28 {
  position:absolute;
  left:2px;
  top:5px;
  width:135px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:697px;
  top:0px;
  width:176px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:26px;
}
#u30 {
  position:absolute;
  left:2px;
  top:5px;
  width:172px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:130px;
  width:1200px;
  height:31px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:31px;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:20px;
  top:131px;
  width:655px;
  height:26px;
}
#u33_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:661px;
  height:32px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:31px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:26px;
}
#u36 {
  position:absolute;
  left:2px;
  top:5px;
  width:146px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:150px;
  top:0px;
  width:174px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:26px;
}
#u38 {
  position:absolute;
  left:2px;
  top:5px;
  width:170px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:324px;
  top:0px;
  width:164px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:26px;
}
#u40 {
  position:absolute;
  left:2px;
  top:5px;
  width:160px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:488px;
  top:0px;
  width:167px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:26px;
}
#u42 {
  position:absolute;
  left:2px;
  top:5px;
  width:163px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1130px;
  top:104px;
  width:60px;
  height:20px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:30px;
  top:189px;
  width:223px;
  height:37px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:37px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:30px;
  top:257px;
  width:343px;
  height:663px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:663px;
}
#u48 {
  position:absolute;
  left:2px;
  top:324px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:49px;
  top:332px;
  width:300px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:127px;
  top:275px;
  width:136px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:414px;
  top:345px;
  width:101px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:414px;
  top:371px;
  width:245px;
  height:25px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u56 {
  position:absolute;
  left:399px;
  top:409px;
  width:766px;
  height:74px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:74px;
}
#u57 {
  position:absolute;
  left:2px;
  top:29px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:419px;
  top:444px;
  width:100px;
  height:16px;
}
#u59 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u58_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u60 {
  position:absolute;
  left:419px;
  top:418px;
  width:165px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:569px;
  top:444px;
  width:100px;
  height:16px;
}
#u63 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u62_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u64 {
  position:absolute;
  left:699px;
  top:444px;
  width:160px;
  height:16px;
}
#u65 {
  position:absolute;
  left:16px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u64_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u66 {
  position:absolute;
  left:52px;
  top:527px;
  width:88px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:71px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:88px;
  height:1px;
}
#u67 {
  position:absolute;
  left:154px;
  top:524px;
  width:90px;
  height:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:261px;
  top:530px;
  width:88px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:71px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:88px;
  height:1px;
}
#u70 {
  position:absolute;
  left:619px;
  top:513px;
  width:80px;
  height:10px;
}
#u70_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_end {
  position:absolute;
  left:63px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_line {
  position:absolute;
  left:0px;
  top:5px;
  width:80px;
  height:1px;
}
#u71 {
  position:absolute;
  left:399px;
  top:542px;
  width:766px;
  height:128px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:128px;
}
#u72 {
  position:absolute;
  left:2px;
  top:56px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:706px;
  top:510px;
  width:90px;
  height:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:809px;
  top:516px;
  width:80px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:63px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:80px;
  height:1px;
}
#u76 {
  position:absolute;
  left:409px;
  top:581px;
  width:541px;
  height:79px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:79px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u77 {
  position:absolute;
  left:409px;
  top:555px;
  width:50px;
  height:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:629px;
  top:687px;
  width:80px;
  height:10px;
}
#u79_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_end {
  position:absolute;
  left:63px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_line {
  position:absolute;
  left:0px;
  top:5px;
  width:80px;
  height:1px;
}
#u80 {
  position:absolute;
  left:716px;
  top:684px;
  width:90px;
  height:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:819px;
  top:690px;
  width:80px;
  height:10px;
}
#u82_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_end {
  position:absolute;
  left:63px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_line {
  position:absolute;
  left:0px;
  top:5px;
  width:80px;
  height:1px;
}
#u83 {
  position:absolute;
  left:929px;
  top:876px;
  width:38px;
  height:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:389px;
  top:257px;
  width:787px;
  height:50px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:787px;
  height:50px;
}
#u86 {
  position:absolute;
  left:2px;
  top:17px;
  width:783px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:414px;
  top:275px;
  width:81px;
  height:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:502px;
  top:270px;
  width:112px;
  height:25px;
}
#u89_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u90 {
  position:absolute;
  left:642px;
  top:275px;
  width:66px;
  height:16px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:399px;
  top:715px;
  width:766px;
  height:74px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:74px;
}
#u93 {
  position:absolute;
  left:2px;
  top:29px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:720px;
  top:269px;
  width:194px;
  height:25px;
}
#u94_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u95 {
  position:absolute;
  left:977px;
  top:872px;
  width:25px;
  height:23px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u96 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:1012px;
  top:872px;
  width:25px;
  height:23px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u98 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:1047px;
  top:872px;
  width:25px;
  height:23px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u100 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:1078px;
  top:872px;
  width:25px;
  height:23px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u102 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:409px;
  top:754px;
  width:541px;
  height:22px;
}
#u103_input {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u103_input:disabled {
  color:grayText;
}
#u104 {
  position:absolute;
  left:409px;
  top:728px;
  width:45px;
  height:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:885px;
  top:196px;
  width:100px;
  height:25px;
}
#u106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u107 {
  position:absolute;
  left:995px;
  top:196px;
  width:180px;
  height:25px;
}
#u107_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u108 {
  position:absolute;
  left:49px;
  top:358px;
  width:300px;
  height:16px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:49px;
  top:384px;
  width:300px;
  height:16px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:1046px;
  top:360px;
  width:104px;
  height:30px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u113 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:1070px;
  top:367px;
  width:55px;
  height:16px;
  color:#FFFFFF;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:1046px;
  top:430px;
  width:104px;
  height:30px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u117 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:1070px;
  top:437px;
  width:55px;
  height:16px;
  color:#FFFFFF;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:1038px;
  top:600px;
  width:104px;
  height:30px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u121 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:1062px;
  top:607px;
  width:55px;
  height:16px;
  color:#FFFFFF;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:1038px;
  top:742px;
  width:104px;
  height:30px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u125 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:1062px;
  top:749px;
  width:55px;
  height:16px;
  color:#FFFFFF;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
