<div class="row">
    <form class="form form-horizontal">
        <label>
            Formula Name
        </label>
        <input type="text" class="form-control">
        <label>
            Description
        </label>
        <input type="text" class="form-control">

    </form>
</div>
<div class="row">
    <h4>Edit Expression</h4>
    <hr>
    <ul class="list-group list-inline">
        <li class="list-group-item">
            <span class="badge">14</span>
            Cras justo odio
        </li>
        <li class="list-group-item">
            <span class="badge">2</span>
            Dapibus ac facilisis in
        </li>
        <li class="list-group-item">
            <span class="badge">1</span>
            Morbi leo risus
        </li>
    </ul>
    <div class="float-right">
        <p><b><h5>&nbsp;&nbsp;= {{varName}}</h5></b></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 center-block">
        <p class="center-block">Placeholder for Dynamic Tester</p>
    </div>
</div>