<div class="page-header">
    <h3>
        Formula Statement Editor
    </h3>
    <ul class="breadcrumb">
        <li>
            <a ui-sref="formulasselect">Editors</a>
        </li>
        <li>
            <a ui-sref="formulasselect">Formulas/Rules: Selection</a>
        </li>
        <li class="active">
            Formulas/Rules: Statement Editor
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-6" ui-view="toolpanel">
    </div>
    <div class="col-md-6" ui-view="editorpanel">
    </div>
</div>
<div class="row">
    <div class="form-group pull-right">
        <button class="btn btn-default" ng-click="cancel();">
            Cancel
        </button>
        <button class="btn btn-primary" ng-click="save();">
            Save
        </button>
    </div>
</div>