<div class="assessmentVariableSelection">
	<div ng-click="openSelections($event)" on-enter="openSelections()" tabindex="3">
		<link rel="stylesheet" type="text/css" href="resources/editors/js/app/directives/assessmentVariableDropdownMenu/assessmentVariableDropdownMenu.css">
		<input type="hidden" name="selectedAssessmentVariable" ng-model="assessmentVariable" required update-hidden>
		<i class="fa fa-list"> </i> <span id="assessmentVariableMenuLabel">{{ assessmentVariable.name | limitToWithEllipsis: 33 || 'Select Variable'}}</span>
	</div>
	<mhe-assessment-var-tbl-dir assessment-variable="assessmentVariable" block="block" allow-transformations="allowTransformations" show="avMenu.show" ng-if="avMenu.show" class="assessmentVariableTable" />
</div>