@charset "utf-8";
/* CSS Document -- Import Embedded OTF Fonts */

/* ---- Calibri ---- */
@font-face{
	font-family:Pictograms;
	src:url(../css/fonts/modernpics.otf);
}
@font-face{
	font-family:Calibri;
	src:url(../css/fonts/calibri.otf);
}

/* ---- Georgia ---- */
@font-face{
	font-family:Georgia;
	src:url(../css/fonts/georgia.otf);
}

@font-face{
	font-family:GeorgiaBold;
	src:url(../css/fonts/georgiab.otf);
}

@font-face{
	font-family:GeorgiaItalic;
	src:url(../css/fonts/georgiai.otf);
}

@font-face{
	font-family:GeorgiaZ;
	src:url(../css/fonts/georgiaz.otf);
}

/* ---- Myriad Pro ---- */
@font-face{
	font-family:MyriadProRegular;
	src:url(../css/fonts/MyriadPro-Regular.otf);
}
@font-face{
	font-family:MyriadProRegularItalic;
	src:url(../css/fonts/MyriadPro-It.otf);
}
@font-face{
	font-family:MyriadProCondensed;
	src:url(../css/fonts/MyriadPro-Cond.otf);
}
@font-face{
	font-family:MyriadProCondItalic;
	src:url(../css/fonts/MyriadPro-CondIt.otf);
}
@font-face{
	font-family:MyriadSemiBold;
	src:url(../css/fonts/MyriadPro-SemiBold.otf);
}
@font-face{
	font-family:MyriadProSemiBoldItalic;
	src:url(../css/fonts/MyriadPro-SemiBoldIt.otf);
}
@font-face{
	font-family:MyriadProBold;
	src:url(../css/fonts/MyriadPro-Bold.otf);
}
@font-face{
	font-family:MyriadProBoldItalic;
	src:url(../css/fonts/MyriadPro-BoldIt.otf);
}
@font-face{
	font-family:MyriadProBoldCondensed;
	src:url(../css/fonts/MyriadPro-BoldCond.otf);
}
@font-face{
	font-family:MyriadProBoldCondensedItalic;
	src:url(../css/fonts/MyriadPro-BoldCondIt.otf);
}




