<div class="row">
    <div class="col-md-6">
      <h1>Manage Module</h1>
    </div>
    <div class="col-md-6">
      <button ng-click="editTemplates(survey.id, survey.name);" ng-disabled="!survey.id;" class="btn btn-primary h1_button pull-right" type="button">Manage Templates</button>
    </div>
</div>

<!-- Alerts and Messages -->
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" ng-show="messageHandler.hasErrorMessages()">
            <div>Error Message(s):</div>
            <div ng-repeat="error in messageHandler.getMessages()| uniqueMessage">{{error.getValue()}}</div>
        </div>
        <div class="alert alert-success" ng-show="messageHandler.hasSuccessMessages()">
            <div ng-repeat="message in messageHandler.getMessages()| uniqueMessage">
                {{message.getValue()}}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form name="moduleDetailsForm" novalidate>
            <div class="border-radius-main-form gray-lighter">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="inputTitle">Title *</label>
                            <input name="inputTitle" id="inputTitle" type="text" class="form-control"
                                   ng-model="survey.name"
                                   placeholder="Enter Module Title" requried>
                        </div>
                        <div class="form-group">
                            <label for="inputDescription">Description</label>
                            <input name="inputDescription" id="inputDescription" type="text" class="form-control"
                                   ng-model="survey.description"
                                   placeholder="Enter Module Description">
                        </div>
                    </div>
                    <div class="col-md-4">
                            <!--
                            <br>
                            <input type="checkbox" id="is_clinical_reminder" ng-model="survey.clinicalReminder" ng-disabled="true"> <label for="is_clinical_reminder">Is a clinical reminder</label><br>

                            <label>VistA Title</label>
                            <textarea class="form-control" ng-model="survey.vista_title" placeholder="Enter VistA Title" ng-disabled="!survey.clinicalReminder" ></textarea>
                            //-->
                            <div class="form-group">
                                <label for="selectSurveySection">Section *</label>

                                <select id="selectSurveySection" name="selectSurveySection" class="form-control"
                                        ng-model="survey.surveySection"
                                        ng-options="surveySection as surveySection.name for surveySection in surveySections track by surveySection.id"
                                        required>
                                    <option value=""> -- Choose Section --</option>
                                </select>
                            </div>
                       
                    </div>
                </div>

            </div>
        </form>

        <br>

        <div class="row">
            <div class="col-md-4 text-center">
                <div class="border-radius-top-box  gray-lighter">
                  <div class="section_header_title pull-left">Items</div>
                  <button class="btn btn-success btn-sm pull-right" ng-click="addPage();"><span class="fa fa-ellipsis-h"></span> Page Break</button>
                  <div class="clearfix"></div>
                 </div>
                 
                    
                <div class="border-radius-bottom-box" style="background-color:#fff; max-height:470px; min-height:470px;overflow-y:scroll;">     
                    <ul class="list-group app screen first" ng-model="surveyPages">
                        <li class="list-group-item text-left" ng-repeat="page in surveyPages"
                                ng-class="{'unsortable': page.sortable === false}">

                            <div class="page-divider-container">
                                <div class="page-divider-container-row">
                                    <div class="page-divider">
                                        <button type="button" class="btn btn-default btn-circle pull-left">
                                            Page {{page.pageNumber}}
                                            <span class="glyphicon glyphicon-remove-circle"
                                                    style="margin-left: 10px;color:red;"
                                                    ng-show="page.pageNumber > 1"
                                                    ng-click="deletePage($index);"/>
                                        </button>
                                        <button class="btn btn-success btn-sm pull-right" ng-click="addQuestion(page);"><span
                                                class="glyphicon glyphicon-plus"></span> Add Item
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-group app screen" style="margin-top:5px;" ui-sortable="sortableQuestionOptions" ng-model="page.questions">
                                <li class="list-group-item text-left" ng-repeat="question in page.questions"
                                        ng-class="{'unsortable': question.sortable === false}">
                                    <div class="form-inline">
                                        <div class="glyphicon glyphicon-align-justify pull-left" style="margin:10px 10px 10px 0px;"></div>
                                        <div class="pull-left">
                                            <div class="strong" style="font-size:12px;" ng-click="editQuestion(question);">{{question.variableName}}</div>
                                            <div style="font-size:12px;">{{question.type}}</div>
                                        </div>
                                        <div class="pull-right margin_top_10">
                                            <span>
                                                <span class="glyphicon glyphicon-edit cursor_pointer" ng-click="editQuestion(question);"></span>
                                            </span>
                                            <span class="glyphicon glyphicon-remove-circle cursor_pointer"
                                                    style="margin-left: 10px; color:red;"
                                                    ng-click="deleteQuestion(page, $index);"></span>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-md-8" style="overflow-y:auto;overflow-x:hidden; ">
              <div class="border-radius-top-box  gray-lighter">
              <div class="section_header_title pull-left">Properties</div>
              <div class="clearfix"></div>
              </div>
                <div class="border-radius-bottom-box padding_10" style="min-height:470px; background-color:#FFFFFF;">
                    <div class="row">
                        <div class="col-md-12" ui-view>
                            <div style="min-height:20px;text-align: center;">
                                <p>Select one of the left side questions to edit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-12">
        <div class="form-group pull-right">
            <button class="btn btn-primary" ng-disabled="!moduleDetailsForm.$valid" ng-click="save();">Save</button>
            <button class="btn btn-default" ng-click="cancel();">Cancel</button>
        </div>
    </div>
</div>
