<h4>Item Type</h4>
{{ question.type }}
<div class="row" style="min-height:300px;">
  <div class="col-md-12">
    <form role="form" class="form-horizontal">
      <div class="form-group">
        <label> Instruction Text </label>
        <div text-angular="text-angular" ta-toolbar="[['bold','italics', 'underline'], ['ul', 'ol'], ['justifyLeft', 'justifyCenter', 'justifyRight'], ['indent', 'outdent'], ['insertLink', 'insertVideo'], ['redo', 'undo'] , ['html']]" ng-model="question.text" ta-toolbar-class="btn-toolbar"
                   ta-toolbar-group-class="btn-group" ta-toolbar-button-class="btn btn-default"
                   ta-toolbar-button-active-class="active" class="tab-content"> </div>
      </div>
    </form>
  </div>
</div>
