<div class="container">
  <h1>Module Selection</h1>
	<div class="row clearfix">
    <div class="col-md-12"> 
            <!-- JH OOOCOMMENT
            <form class="form-inline">
                <div class="form-group pull-right">
                	<button id="btnNew" type="button" class="btn btn-primary" ng-click="addModule();">
                        <span class="glyphicon glyphicon-plus"></span>
                        New
                    </button> 
                </div>   	
            </form>
            -->
    </div>
     </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
      <!--- ngTable Begin --->
      <table ng-table="tableParams" show-filter="false" class="table table-hover" summary="Module Selection Table">
        <tr ng-repeat="survey in $data" ng-class-odd="'odd'" ng-class-even="'even'"> 
          <!--<td data-title="'Index'" sortable="'id'">
                        {{survey.id}}
                    </td>-->
                    <td data-title="'Title'" sortable="'name'">
                        {{survey.name}}
                    </td>
          <!--<td data-title="'Status'" sortable="'status'" filter="{ 'status': 'text' }">
                        {{survey.status}}
                    </td>-->
          <td data-title="'Description'"  class="col-md-6"> {{survey.description}} </td>
          <td data-title="Actions"  class="col-md-2"><div class="pull-right">
              <button class="btn btn-default btn-xs" ng-click="editModule(survey);" title="Edit {{survey.name}}" name="Edit {{survey.name}}"> <span class="glyphicon glyphicon-edit"></span> Edit </button>
              &nbsp;
              <button class="btn btn-default btn-xs" ng-click="deleteClick();" title="Delete {{survey.name}}" name="Delete {{survey.name}}"><span class="glyphicon glyphicon-remove-circle color-red" style="color:red;"></span> Delete</button>
            </div></td>
        </tr>
      </table>
      <!--- /ngTable --->
            <hr>
            <div class="row pull-right">
                <div class="col-md-12">
                    <a class="btn btn-default" ng-click="cancel();">Back</a>
                </div>
            </div>
      <div class="clearfix"></div>
      <br>
    </div>
  </div>
</div>
