<h4>Item Type</h4>
{{ question.type }}

<div class="row">
    <div class="col-md-12">
        <form role="form" class="form">
            <div class="form-group">
                <label> Question Text </label>
                <textarea class="form-control" ng-model="question.text"></textarea>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>Matrix Columns (Answers)</h4>
        <div class="form-group">
            <ul class="list-group odd-even-list" ui-sortable="sortableChildAnswerOptions" ng-model="question.childAnswers">
                <li class="list-group-item"
                        ng-repeat="childAnswer in question.childAnswers"
                        ng-class="{'unsortable': childAnswer.sortable === false}">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="glyphicon glyphicon-align-justify" style="margin:10px 10px 10px 0px;"></div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label> {{$index + 1}}. Column Name * </label> <input type="text"
                                    class="form-control"
                                    ng-model="childAnswer.text"
                                    placeholder="Enter Answer Text">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label> Variable Name *</label> <input type="text"
                                    class="form-control"
                                    ng-model="childAnswer.exportName"
                                    placeholder="Enter Export Value">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button type="button" ng-really-click="deleteChildAnswer($index)" ng-really-message="Are you sure you want to delete this answer?">
                                <span class="glyphicon glyphicon-remove-circle" style="margin:10px 10px 10px 0px; color:red"></span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-12">
                            <div class="form-group form-inline">
                                <label class="checkbox" ng-if="question.type === 'selectMultiMatrix'"> <input type="checkbox"
                                        ng-model="childAnswer.type"
                                        ng-true-value="regular"
                                        ng-false-value="{{ null }}"> Regular </label>
                                <label class="checkbox"> <input type="checkbox"
                                        ng-model="childAnswer.type"
                                        ng-true-value="other"
                                        ng-false-value="{{ null }}"> Other </label>
                                <label class="checkbox" ng-if="question.type === 'selectMultiMatrix'"> <input type="checkbox"
                                        ng-model="childAnswer.type"
                                        ng-true-value="none"
                                        ng-false-value="{{ null }}"> None </label>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <button type="submit" class="btn btn-primary btn-sm"> <span class="glyphicon glyphicon-plus"></span> Add New Column</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <h4> Matrix Row (Questions) </h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <ul class="list-group odd-even-list">
                <li class="list-group-item" ng-repeat="childQuestion in question.childQuestions">
                    <div class="form-group">
                        <div class="">
                            <label> {{$index + 1}}. Row Name</label>
                            <input type="text" class=" form-control" ng-model="childQuestion.text" placeholder="Enter Question Text">
                        </div>
                        <label> Variable Name * </label>
                        <div class="">
                            <input type="text" class="form-control" ng-model="childQuestion.variableName" placeholder="Export Value">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <button type="submit" class="btn btn-primary btn-sm"> <span class="glyphicon glyphicon-plus"></span> Add New Row</button>
    </div>
</div>
