<form name="questionDetailsForm" novalidate>

    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <label for="selectQuestionType" class="control-label col-md-8">Question Type</label>

                <div class="col-md-4">
                    <select id="selectQuestionType" name="selectQuestionType" class="form-control"
                            ng-model="questionTypeDropDownMenu"
                            ng-options="option.displayName for option in questionTypeDropDownMenuOptions track by option.displayName"
                            ng-disabled="disableDropDownMenu()" required>
                        <option value=""> -- Choose Question Type --</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" ui-view>

        </div>
    </div>
</form>