<h4> Item Type </h4>
<p>{{ question.type}}</p>

<div class="row">
  <div class="col-md-12">
    <form class="form" role="form">
      <div class="form-group">
        <label for="txtVariableNm"> Variable Name *</label>
          <input type="text" id="txtVariableNm" class="form-control" placeholder="Enter Variable Name" ng-model="question.variableName">
      </div>

      <div class="form-group">
        <label for="question-text"> Question Text </label>
        <textarea class="form-control" id="question-text" ng-model="question.text" placeholder="Enter Question Text"></textarea>
      </div>

      <div class="form-group">
        <label for="entity-name"> Entity Name </label>
        <textarea class="form-control" id="entity-name" ng-model="question.entityName" placeholder="Enter Entity Name"></textarea>
      </div>

      <div class="form-group form-inline">
        <label class="checkbox">
          <input type="checkbox" ng-model="question.required"> Force at least one entry (disallow none answer) </label>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-primary btn-small" ng-click="addTableQuestion()">Add Question</button>
      </div>
    </form>
  </div>
</div>
