<h1>Manage Module</h1>
<!-- Alerts and Messages -->
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" ng-show="messageHandler.hasErrorMessages()">
            Error Message(s):<br><br>

            <div ng-repeat="error in messageHandler.getMessages()| uniqueMessage">
                {{error.getValue()}}
            </div>
        </div>
        <div class="alert alert-success" ng-show="messageHandler.hasSuccessMessages()">
            <div ng-repeat="message in messageHandler.getMessages()| uniqueMessage">
                {{message.getValue()}}
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <!-- JH OOOCOMMENT
        <div class="col-sm-12">
        <div class="btn-group-sm pull-right"> <a ui-sref="modules.detail.expressioneditor" class="btn btn-success" href="#/modules/modules.detail/modules.detail.expressioneditor">Add/Edit Formula</a> <a class="btn btn-warning" ui-sref="modules.detail.rulesandevents" href="#/modules/modules.detail/modules.detail.rulesandevents">Add/Edit Rule</a> <a ui-sref="modules.detail.templatecaptureview" class="btn btn-info" href="#/modules/modules.detail/modules.addedt.templatecaptureview">Add/Edit Template</a> </div>
        </div>
        -->
        <form name="moduleDetailsForm" class="form-inline" novalidate>
            <div class="border-radius-main-form gray-lighter">

                <div class="row">
                    <div class="col-md-8">
                        <div class="col-md-12 form-group">
                            <label>Title *</label>
                            <input name="inputTitle" id="inputTitle" type="text" class="form-control"
                                   ng-model="selectedSurveyUIObject.name"
                                   placeholder="Enter Module Title" requried>
                        </div>
                        <div class="col-sm-12 form-group pull-right">
                            <label>Description</label>
                            <input name="inputDescription" id="inputDescription" type="text" class="form-control"
                                   ng-model="selectedSurveyUIObject.description"
                                   placeholder="Enter Module Description">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-sm-12 form-group">
                            <!--
                            <br>
                            <input type="checkbox" id="is_clinical_reminder" ng-model="selectedSurveyUIObject.clinicalReminder" ng-disabled="true"> <label for="is_clinical_reminder">Is a clinical reminder</label><br>

                            <label>VistA Title</label>
                            <textarea class="form-control" ng-model="selectedSurveyUIObject.vista_title" placeholder="Enter VistA Title" ng-disabled="!selectedSurveyUIObject.clinicalReminder" ></textarea>
                            //-->
                            <div class="col-sm-12 form-group pull-right">
                                <label for="selectSurveySection">Section *</label>
                                <select id="selectSurveySection" name="selectSurveySection" class="form-control"
                                        ng-model="selectedSurveyUIObject.surveySection"
                                        ng-options="surveySectionDropDownMenuOption.item as surveySectionDropDownMenuOption.name for surveySectionDropDownMenuOption in surveySectionDropDownMenuOptions"
                                        required>
                                    <option value=""> -- Choose Section --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
        <br>

        <h4>Questions</h4>

        <div class="row">
            <div class="col-md-4 text-center">
                <div class="well well-left-side"
                     style="background-color:#fff; max-height:470px; min-height:470px;overflow-y:scroll;">
                    <div class="form-inline form-group center-block">
                        <button class="btn btn-success btn-sm" ng-click="addPageBreak();"><span
                                class="glyphicon glyphicon-plus"></span> Page Break
                        </button>
                        <!-- popover-placement="top" popover="Will add a sortable Page Break object to the Questions List, and update page breaks."//-->
                    </div>
                    <ul class="list-group app screen first" ui-sortable="sortableOptions" ng-model="pageQuestionItems">

                        <li class="list-group-item text-left" ng-repeat="item in pageQuestionItems"
                            ng-class="{'unsortable': item.isEnabled() === false}">

                            <div ng-switch on="item.isPage()">
                                <div ng-switch-when="true" class="page-divider-container">
                                    <div class="page-divider-container-row">
                                        <div class="page-divider">
                                            <button type="button" class="btn btn-default btn-circle">
                                                {{item.getType()}} {{item.getItem().pageNumber}}
                                                    <span class="glyphicon glyphicon-remove-circle"
                                                          style="margin-left: 10px;color:red;"
                                                          ng-show="item.getItem().pageNumber > 1"
                                                          ng-click="deletePageQuestionItem(item);"/>
                                            </button>
                                            <button class="btn btn-success btn-sm" ng-click="goToQuestions();"><span
                                                    class="glyphicon glyphicon-plus"></span> Add Item
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div ng-switch-default class="form-inline">
                                    <span class="glyphicon glyphicon-align-justify pull-left"></span>
                                    &nbsp;&nbsp;
                                    <span class="badge" ng-click="editQuestion(item);">Var: {{item.getItem().variableName}}</span>
                                    <span style="font-size:12px;"> | {{item.getItem().type}}</span>

                                    <div class="form-group pull-right">
                                        <span class="glyphicon glyphicon-remove-circle"
                                              style="margin-left: 10px;color:red;"
                                              ng-click="deletePageQuestionItem(item);"/>
                                    </div>
                                    <div class="form-group pull-right" ng-show="item.isQuestion()">
                                        <span class="glyphicon glyphicon-edit" ng-click="editQuestion(item);"/>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-md-8" style="overflow-y:auto;overflow-x:hidden; ">
                <div class="border-radius-main-form"
                     style="border:1px solid #E8E8E8; min-height:470px; background-color:#FFFFFF;">
                    <div class="row">
                        <div class="col-md-12" ui-view></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-12">
        <div class="form-group pull-right">
            <button class="btn btn-primary" ng-disabled="!moduleDetailsForm.$valid" ng-click="save();">Save</button>
            <button class="btn btn-default" ng-disabled="!moduleDetailsForm.$valid" ng-click="cancel();">Cancel</button>
        </div>
    </div>
</div>