<div style="min-height:400px;">
    <div class="ui-view-container container-fluid">
        <div style="min-height:650px;" ui-view>
            <h1>Module Selection</h1>

            <div class="row clearfix">
                <div class="col-md-12 column">
                    <!--- ngTable Begin --->
                    <table ng-table="tableParams"
                            show-filter="false"
                            class="table table-hover"
                            summary="Module Selection Table">
                        <tr ng-repeat="survey in $data" ng-class-odd="'odd'" ng-class-even="'even'">
                            <td data-title="'Title'" sortable="'name'">
                                {{survey.name}}
                            </td>
                            <td data-title="'Description'" class="col-md-6"> {{survey.description}}</td>
                            <td data-title="'Status'" class="col-md-1"> {{survey.isPublished ? "Published" : "Unpublished"}}</td>
                            <td data-title="Actions" class="col-md-1">
                                <div class="pull-right">
                                    <button class="btn btn-default btn-xs"
                                            ng-click="editModule(survey);"
                                            title="Edit {{survey.name}}"
                                            name="Edit {{survey.name}}"><span class="glyphicon glyphicon-edit"></span> Edit
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <!--- /ngTable --->
                    <hr>
                    <div class="row pull-right">
                        <div class="col-md-12">
                            <a href="javascript:void(0);" class="btn btn-default" ng-click="cancel();">Back</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
