<h4>Item Type</h4>
<p>{{ question.type }}</p>

<div class="row">
	<div class="col-md-12">
		<form role="form" class="form-horizontal">
			<div class="form-group">
				<label for="instructions">Instruction Text *</label>

				<div name="instructions"
					id="instructions"
					class="tab-content"
					text-angular="text-angular"
					ta-toolbar="taToolbar"
					ng-model="question.text"
					ta-toolbar-class="btn-toolbar"
					ta-toolbar-group-class="btn-group"
					ta-toolbar-button-class="btn btn-default"
					ta-toolbar-button-active-class="active"
					required>
				</div>

			</div>
		</form>
	</div>
</div>

