<div class="col-md-8">
	<div ng-if="block.type && block.type !== 'text' && block.type !== 'else'" class="blockLableMarginTop">
		<div class="row">
			<div class="col-md-4">
				<div class="form-group" ng-if="block.type !== 'table'">
					<label class="sr-only">Select Variable</label>
					<input type="hidden"
							ng-model="block.left.content"
							ng-change="updateLogicalOptions(block)"
							update-hidden>
					<mhe-assessment-var-dropdown-menu-dir assessment-variable="block.left.content" block="block" ng-class="{error: templateBlockEditorForm.selectedAssessmentVariable.$invalid && showValidationMessages}" />
				</div>
				<div class="form-group" ng-if="block.type === 'table'">
					<label class="sr-only">Select Variable</label>
					<input type="hidden"
							ng-model="block.table.content"
							update-hidden>
					<mhe-assessment-var-dropdown-menu-dir assessment-variable="block.table.content" block="block" ng-class="{error: templateBlockEditorForm.selectedAssessmentVariable.$invalid && showValidationMessages}" />
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group"
						ng-class="{'has-error': templateBlockEditorForm.blockOperator.$invalid && showValidationMessages}"
						ng-if="block.type !== 'table'">
					<select name="blockOperator"
							class="form-control"
							ng-model="block.operator"
							ng-options="operator.value as operator.name for operator in block.operators"
							required>
						<option value="">-- Operator --</option>
					</select>
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group"
						ng-if="showBlockConditionRight(block.operator)"
						ng-class="{'has-error': templateBlockEditorForm.blockValue.$invalid && showValidationMessages}">
					<label class="sr-only" for="blockvalue">Enter Value</label>
					<div ng-if="!block.measureAnswers || !block.measureAnswers.length">
						<input type="number"
								class="form-control"
								name="blockValue"
								id="blockvalue"
								placeholder="Enter Value"
								ng-model="block.right.content"
								ng-if="block.measureValidations['number']"
								min="{{block.measureValidations['minValue']}}"
								max="{{block.measureValidations['maxValue']}}"
								cast-integer
								required>
						<input type="email"
								class="form-control"
								name="blockValue"
								id="blockvalue"
								placeholder="Enter Value"
								ng-model="block.right.content"
								ng-if="block.measureValidations['email']"
								required>
						<input
								type="text"
								class="form-control"
								name="blockValue"
								id="blockvalue"
								datepicker-popup="'MM/dd/yyyy"
								ng-model="block.right.content"
								ng-if="block.measureValidations['date']"
								init-date="dt"
								show-weeks="false"
								is-open="opened"
								datepicker-options="{ startingDay: 1}"
								close-text="Close"
								required />
						<input type="text"
								class="form-control"
								name="blockValue"
								id="blockvalue"
								placeholder="Enter Value"
								ng-model="block.right.content"
								ng-if="!block.measureValidations['email'] && !block.measureValidations['date'] && !block.measureValidations['number']"
								ng-minlength="{{ block.measureValidations['minLength'] || 0 }}"
								ng-maxlength="{{ block.measureValidations['maxLength'] || 150}}"
								required>
					</div>
					<select class="form-control"
							name="blockValue"
							id="blockvalue"
							ng-model="block.right.content"
							ng-if="block.measureAnswers && block.measureAnswers.length"
							ng-options="answer.measureAnswerId as answer.answerText for answer in block.measureAnswers"
							cast-integer
							required>
						<option value="">-- Answer --</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-md-2 pull-right">
	<div class="pull-right blockLableMarginTop">
		<button title="AND"
				class="btn btn-default"
				ng-click="addAndConditionBlock(block, templateBlockEditorForm)"
				ng-if="block.type && block.type !== 'text' && block.type !== 'else' && block.type !== 'table'">AND
		</button>
		<button title="OR"
				class="btn btn-default"
				ng-click="addOrConditionBlock(block, templateBlockEditorForm)"
				ng-if="block.type && block.type !== 'text' && block.type !== 'else' && block.type !== 'table'"
				ng-disable="templateBlockEditorForm.$invalid">OR
		</button>
		<!--button title="PLUS" class="btn btn-default" ng-click="addBlock(block)"  ng-if="block.type && block.type !== 'text'"><i class="fa fa-plus"></i></button-->
	</div>
	<div class="clearfix"></div>
</div>
