<div>
	<h4> Item Type </h4>
	<p>{{question.type}}</p>

	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="inputVariableName" class="form-label"> Variable Name </label>
				<input id="inputVariableName" name="inputVariableName" type="text" class="form-control" placeholder="Variable Name"
						ng-model="question.variableName" required>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 column">
			<div class="form-group">
				<label for="textAreaText" class="form-label"> Question Text </label>
	                <textarea id="textAreaText" name="textAreaText" class="form-control"
			                placeholder="Question Text"
			                ng-model="question.text"
			                required></textarea>
			</div>
		</div>
	</div>
	<form name="questionDetailsForm" novalidate>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="selectTextFormat"> Text Format </label>
					<select id="selectTextFormat" name="selectTextFormat" class="form-control"
							ng-model="question.textFormat"
							ng-options="textFormat.value for textFormat in textFormatOptions"
							ng-change="updateValidations()"
							ng-disabled="vistaDisable"
							required>
					</select>
				</div>
				<div class="form-group form-inline">
					<input type="checkbox" id="checkboxPPI" name="checkboxPPI" ng-model="question.ppi">
					<label for="checkboxPPI" class="checkbox">PPI </label> &nbsp;&nbsp;
					<input type="checkbox" id="checkboxRequired" name="checkboxRequired" ng-model="question.required">
					<label for="checkboxRequired" class="checkbox">Required</label>
				</div>
			</div>
			<div class="col-md-6">
				<div id="form-group validation-container" ng-show="question.textFormat.value === 'number'">
					<h4> Validations </h4>

					<div class="form-group" ng-repeat="validation in numberValidations">
						<label for="{{validation.name}}" class="form-label" ng-bind="validation.displayName"></label>

						<div class="input-group">
	                        <span class="input-group-addon">
	                            <input type="checkbox" ng-model="validation.checked" ng-change="updateValidations()">
	                        </span>
							<input type="number"
									id="{{validation.name}}"
									class="form-control"
									placeholder="0"
									ng-model="validation.value"
									cast-integer
									ng-change="updateValidations()"
									ng-disabled="!validation.checked">
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
