<div>
    <div class="container-fluid" ng-controller="ddPageCtrl">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar-nav-fixed affix">
                    <p style="width:auto;"><span><b>Assessment</b></span><span style="text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp; {{selectedAssessment.title}}</span></p>
                </div>
             </div>
            <div class="col-md-6 jumbotron">
            </div>
            <div class="col-md-3">
                <div class="sidebar-nav-fixed pull-right affix">
                    <div class="well">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>