<div class="container">
    <div class="row clearfix">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label for="txtVariableNm" class="form-label col-sm-5">
                        Variable Name
                        </label>
                        <div class="col-sm-5-offset col-sm-7">
                        <input type="text" id="txtVariableNm" class="form-control" placeholder="00A001">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12 column">
                <form>
                    <div class="form-group">
                        <label>
                            Instructions
                        </label>
                        <textarea class="form-control"></textarea>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 column">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label>
                            Question Text
                        </label>
                        <textarea class="form-control"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
<hr>
<div class="row clearfix">
    <div class="col-md-12 column" style="display: block;">
        <h4>
            Properties
        </h4>
        <form class="form-inline">
            <div class="form-group">
                <div class="btn-group pull-left">
                    <a href="#" class="btn btn-success btn-sm active">Select Single</a>
                    <a href="#" class="btn btn-success btn-sm">Select Multiple</a>
                </div>
            </div>
            &nbsp;
            <div class="form-group">
                <label class="form-label col-sm-4">Help Text</label>
                <div class="col-sm-4-offset col-sm-7"><input type="text" class="form-control" placeholder="Enter Help Text"> </div>
            </div>
            <div class="pull-right">
                <label class="checkbox">
                    <input type="checkbox">
                    &nbsp;PPI
                </label>
                &nbsp;&nbsp;
                <label class="checkbox">
                    <input type="checkbox">
                    MHA
                </label>
                &nbsp;&nbsp;
                <label class="checkbox">
                    <input type="checkbox">
                    Required
                </label>
            </div>
        </form>
    </div>
</div>
<hr>
<div class="row clearfix">
    <div class="col-md-12">
        <div class="form-group">
            <h4 class="col-sm-1">
                Answers
            </h4>
            <button type="submit" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-plus"></span>
                Add
            </button>
        </div>
        <ul class="list-group col-sm-8">
            <li class="list-group-item">
                <div class="form-inline">
                    <div class="form-group">
                        <div class="col-sm-8">
                            <div class="col-sm-5 pull-left"><input type="text" class=" col-sm-2 form-control" placeholder="Enter Answer Text"></div>
                            <label class=" col-sm-2 control-label">
                                Variable
                            </label>
                            <div class="col-sm-4"> <input type="text" class="form-control" placeholder="00A"></div>
                        </div>
                        <div class="btn-group pull-right">
                            <a href="#" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> Rule</a>
                            <a href="#" class="btn btn-default btn-sm">Calc Val</a>
                            <a href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove-circle" style="color:red;"></span> </a>
                        </div>
                        <!-- </div>-->
                    </div>
                </div>
            </li>
            <li class="list-group-item">
            <div class="form-inline">
                <div class="form-group">
                    <div class="col-sm-8">
                        <div class="col-sm-5 pull-left"><input type="text" class=" col-sm-2 form-control" placeholder="Enter Answer Text"></div>
                        <label class=" col-sm-2 control-label">
                            Variable
                        </label>
                        <div class="col-sm-4"> <input type="text" class="form-control" placeholder="00A"></div>
                    </div>
                    <div class="btn-group pull-right">
                        <a href="#" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> Rule</a>
                        <a href="#" class="btn btn-default btn-sm">Calc Val</a>
                        <a href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove-circle" style="color:red;"></span> </a>
                    </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="form-inline">
                    <div class="form-group">
                        <div class="col-sm-8">
                            <div class="col-sm-5 pull-left"><input type="text" class=" col-sm-2 form-control" placeholder="Enter Answer Text"></div>
                            <label class=" col-sm-2 control-label">
                                Variable
                            </label>
                            <div class="col-sm-4"> <input type="text" class="form-control" placeholder="00A"></div>
                        </div>
                        <div class="btn-group pull-right">
                            <a href="#" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> Rule</a>
                            <a href="#" class="btn btn-default btn-sm">Calc Val</a>
                            <a href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove-circle" style="color:red;"></span> </a>
                        </div>
                        <!-- </div>-->
                    </div>
                </div>
            </li>
        </ul>
        <div class="col-sm-4">
            <div class="form-group">
                <h4 class="col-sm-7">
                    Answer Fields
                </h4>
                <button class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add
                </button>
                <button class="btn btn-default btn-sm">
                    Apply
                </button>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">14</span>
                    Cras justo odio
                </li>
                <li class="list-group-item">
                    <span class="badge">2</span>
                    Dapibus ac facilisis in
                </li>
                <li class="list-group-item">
                    <span class="badge">1</span>
                    Morbi leo risus
                </li>
            </ul>
        </div>
    </div>
</div>
</div>