<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="unit_test_file" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="target/unittest.log" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] %d{dd/MM/yyyy HH:mm:ss} [THREAD ID=%t] [CLASS=(%C{1}:%L)] %m%n" />
		</layout>
	</appender>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] %d{dd/MM/yyyy HH:mm:ss} [THREAD ID=%t] [CLASS=(%C{1}:%L)] %m%n" />
		</layout>
	</appender>


	<!-- Application Loggers -->
	<logger name="gov.va.escreening">
		<level value="DEBUG" />
	</logger>
	
	<logger name="gov.va.escreening.interceptor">
		<level value="WARN" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="WARN" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="WARN" />
	</logger>

	<logger name="org.springframework.context">
		<level value="WARN" />
	</logger>

	<category name="org.springframework.jdbc.core">
		<priority value="DEBUG" />
	</category>

	<logger name="org.springframework.web">
		<level value="WARN" />
	</logger>
	<logger name="org.springframework.transaction">
		<level value="WARN" />
	</logger>

	<logger name="org.springframework.ws.client.MessageTracing">
		<level value="WARN" />
	</logger> 	
	
	<logger name="org.hibernate.type">
		<level value="WARN" />
	</logger>

	<logger name="org.apache.http.client">
		<level value="WARN" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="WARN" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>
