.slide, .slide.ng-enter.ng-enter-active {
    -webkit-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
}

/* ---- Draggable Styles ---- */
.dd-over {
    border: 2px dashed black !important;
}

.dd-target {
    background-color: #ddd;
    opacity: .5;
}

[draggable] {
    cursor: move;
}

/* ---- Animation Styles ---- */
/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
.well[ui-view]{
    height: 65px;
}

.ui-view-container {
    position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    
	/*
	-webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
	*/
}

[ui-view].ng-enter {
    opacity: 0;
    -webkit-transform:scale3d(0.5, 0.5, 0.5);
    -moz-transform:scale3d(0.5, 0.5, 0.5);
    transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
    opacity: 1;
    -webkit-transform:scale3d(1, 1, 1);
    -moz-transform:scale3d(1, 1, 1);
    transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
    opacity: 1;
    /*padding-left: 0px;*/
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
    opacity: 0;
    /*padding-left: 100px;*/
    -webkit-transform:translate3d(100px, 0, 0);
    -moz-transform:translate3d(100px, 0, 0);
    transform:translate3d(100px, 0, 0);
}

/* ---- NG-Show Animations ---- */
.animate-show {
    line-height:20px;
    opacity:1;
    padding:10px;
    background:white;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    display:block!important;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.animate-show.ng-hide {
    line-height:0;
    opacity:0;
    padding:0 10px;
}

.check-element {
    padding:10px;
    background:white;
}


/* ---- Modal Overrides ---- */

.modal-huge {
    width: 95%;
    margin-top:-900px;
    min-width: 950px;
    margin-left: 0px;

    max-height: 790px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.modal-content {
    margin-left: auto;
    margin-right: auto;
    min-height:500px;
    max-width: 1900px;
}

.modal-dialog{
    width:100%;
    height:100%;
    margin-top:0px;
    padding-bottom:-20px;
}


.delete-red{
  color:#FF0004;
}


.table thead tr:first-child th {
  background-color: #30333E;
  color: white;
}


@media (max-width: 600px) {
    .modal-huge {
        width: 580px;
        margin-left: -290px;
    }
}

/* ---- Filter Animations ---- */
.animate-enter,
.animate-leave
{
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    width: 0px;
    height: 0px;
}

.animate-enter.animate-enter-active,
.animate-leave {
    opacity: 1;
    width: 150px;
    height: 30px;
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}

.app{
    cursor:move;
}

.buttonaction {
    display:block;
}
.buttonaction:hover {
    cursor:hand;
}


.odd-even-list li {
	
}
.odd-even-list li:nth-child(odd) {
	background-color:#DDDDDD;
}
.odd-even-list li:nth-child(even) {
    
	background-color:#fff;
}

.well-left-side{
  padding:10px 6px;
  margin:0px;
}

.page-divider p {
    margin-top: 10px;    
}

.page-divider-container-row {
    display: table-row;
}

.page-divider-container {
    display: table;     
    width: 100%;
    position: relative;
}

.page-divider button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.page-divider-container-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
    
}

.page-divider {    
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 80px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.page-divider .btn-default:hover, .page-divider .btn-default:focus, .page-divider .btn-default:active, .page-divider .btn-default.active, .page-divider .open .dropdown-toggle.btn-default{
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  background:none #fff;
}

.cursor_pointer{
  cursor:pointer;
}