<div class="container">
  <h1> Select Battery </h1>
  <div class="row clearfix">
  
    <div class="col-md-12 column">
      <!--- ngTable Begin --->
      <table ng-table="tableParams" show-filter="true" class="table table-hover" summary="Select Battery Table">
        <tr ng-repeat="battery in $data" ng-class-odd="'odd'" ng-class-even="'even'">
          <td data-title="'Title'" sortable="'name'" filter="{ 'name': 'text' }" class="col-md-4"> {{battery.name}} </td>
          <td data-title="'Disabled'" sortable="'disabled'" class="col-md-1"> {{battery.disabled ? 'True' : 'False'}} </td>
          <td data-title="'Description'" class="col-md-5"> {{battery.description}} </td>
          <td data-title="Actions"  class="col-md-2"><div class="pull-right"> <button  ng-click="editBattery(battery);" class="btn btn-default btn-xs"  title="Edit {{battery.name}}"><span class="glyphicon glyphicon-edit"></span> Edit</button> &nbsp;&nbsp; 
              <!--span  ng-really-message="This will delete the Battery, and it will not be available in the future. Click 'OK' to permanently delete it." ng-really-click="deleteBattery(battery);" class="cursor-pointer">
                <span class="glyphicon glyphicon-remove-circle cursor-pointer" title="Delete" style="color:red;"></span> Delete</span-->
            </div>
        </td>
        </tr>
      </table>
      <!--- /ngTable --->
      <hr>
      <div class="row pull-right">
          <div class="col-md-12">
              <a class="btn btn-default" ng-click="cancel();">Back</a>
          </div>
      </div>
      <div class="clearfix"></div>
      <br>
    </div>
  </div>
</div>
