<div class="row">
    <div class="col-md-6">
      <h1>Edit Battery</h1>
    </div>
    <div class="col-md-6">
      <button ng-click="editTemplates();" ng-disabled="!isBatterySaved();" class="btn btn-primary h1_button pull-right" type="button">Manage Templates</button>
    </div>
</div>

<!-- Alerts and Messages -->
<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

<div class="row">
    <div class="col-md-12">
<div class="border-radius-main-form gray-lighter">
  <form name="battForm">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="txtName">Title</label>
          <span class="error" ng-show="battForm.txtName.$error.required" title="Required">*</span>
          <input type="text" id="txtName" name="txtName" class="form-control" placeholder="Enter Battery Title" ng-model="currentlySelectedBatteryUIObject.name" required value="{{currentlySelectedBatteryUIObject.name}}">
        </div>
      </div>
      <div class="col-md-9">
        <div class="form-group">
          <label for="txtDescription">Description</label>
          <span class="error" ng-show="battForm.txtDescription.$error.required" title="Required">*</span>
          <input type="text" id="txtDescription" name="txtDescription" class="form-control" placeholder="Enter Description" ng-model="currentlySelectedBatteryUIObject.description" required value="{{currentlySelectedBatteryUIObject.description}}">
        </div>
      </div>
    </div>
  </form>
  <form role="form">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <input type="checkbox" id="currentlySelectedBatteryDisabled" ng-model="currentlySelectedBatteryUIObject.disabled" ng-checked="currentlySelectedBatteryUIObject.disabled"/>
          <label for="currentlySelectedBatteryDisabled">Disabled</label>
        </div>
      </div>
    </div>
  </form>
</div>
<br>

<div class="row">
  <div class="col-md-5">
    <h2>Available Modules by Section</h2>
    <div class="border-radius-main-box gray-lighter" style="height:500px;overflow-x:hidden;">
      <div class="" style="height:380px; overflow-x:none;" ng-model="sections">
        <div class="panel panel-default" ng-repeat="section in availSections track by $index">
          <div class="panel-heading">
              <h3 class="panel-title">{{section.name}}
                <div class="pull-right">
                  <button class="btn btn-success btn-xs" ng-show="section.visible" ng-click="section.isExpanded = !section.isExpanded"><span ng-class="section.isExpanded ? 'glyphicon glyphicon-minus' : 'glyphicon glyphicon-plus'"  title="Expand / Collapse Available Modules by Section"></span> </button>
                </div>              
              </h3>
          </div>
  
          <div collapse="!section.isExpanded">
            <div class="panel-body" ng-show="section.isExpanded">
              <ul class="list-group" ng-model="section.surveys">
                <li class="list-group-item" ng-animate="'animate'" ng-repeat="survey in section.surveys track by $index" ng-show="survey.visible==true">
					{{survey.name}} <span>Module</span>
                  <div class="form-group buttonaction pull-right cursor-pointer">
				  <span class="glyphicon glyphicon-chevron-right buttonaction pull-right " ng-click="selectForBattery(survey);"></span> </div>
                </li>
              </ul>
            </div>
          </div>
		  
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <h2>Assigned Modules by Section</h2>
    <div class="border-radius-main-box gray-lighter scroll-div-y" style="height:500px;">
	  
	  <div ng-model="message" ng-show="showMessage" class="notificationMsg fadein fadeout alert alert-info">{{notificationMsg}}</div>
      <div class="app screen first" ng-model="batterySections" style="height:380px;overflow-x:visible;">
        <div class="panel panel-default" ng-repeat="section in batterySections" ng-show="section.visible==true">
          
          <div class="panel-heading">
            <h3 class="panel-title">{{section.name}}
              <div class="pull-right">
                <button class="btn btn-success btn-xs" ng-show="section.surveys.length > 0" ng-click="section.isExpanded = !section.isExpanded;"><span ng-class="section.isExpanded ? 'glyphicon glyphicon-minus' : 'glyphicon glyphicon-plus'" title="Expand / Collapse Assigned Modules by Section"></span></button>
              </div>
            </h3>
          </div>
          
          <div collapse="!section.isExpanded">
            <div class="panel-body" ng-show="section.isExpanded">
              <ul class="list-group" ng-model="section.surveys">
                <li class="list-group-item" ng-animate="'animate'" ng-repeat="survey in section.surveys track by $index" ng-show="survey.visible==true">
				{{survey.name}}<span class="glyphicon glyphicon-remove-circle buttonaction pull-right color-red cursor-pointer" ng-click="removeFromBattery(survey);"></span>
				</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="form-group pull-right">
      <button class="btn btn-primary" ng-disabled="battForm.$valid==false" ng-click="saveBattery();"> Save </button>
      <button class="btn btn-default" ng-click="cancelBattery();"> Cancel </button>
    </div>
  </div>
</div>
