.blockclr{
		color: #000;
	}
	.btnclass{
		height: 38px;
		width: 110px;
		font-weight: bold;
		cursor: pointer;
		background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, #0172BC
		), color-stop(0.98, #B9E4FB) ) !important;
		
		background-image: -moz-linear-gradient(center bottom, #0172BC 16%, #B9E4FB 98%)
		!important;
		background: -ms-linear-gradient(top, #B9E4FB, #0172BC);
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border:none;
		color:#fff;
	}
	.btnclass:LANG{
		background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, #B9E4FB
		), color-stop(0.79, #24AFFA) ) !important;
		background-image: -moz-linear-gradient(center bottom, #B9E4FB 16%, #24AFFA 79%) !important;
	}
	body{
		font-family: "verdana",Georgia,Serif;
		font-size: 14px;
	}
	.txtbox{
		height: 25px;
		width: 150px;
		border: 2px solid #BBBDBF;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	.txtbox:FOCUS{
		border: 2px solid #CEE7FD;
	}
	
	.txtbox1{
		height: 25px;
		width: 150px;
		border: 2px solid #BBBDBF;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	
	.txtbox1:FOCUS{
		border: 2px solid #74CB47;
	}
	
	.firstLine{
		background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, rgb(219
			, 219, 219) ), color-stop(0.79, rgb(252, 252, 252) ) );
		background-image: -moz-linear-gradient(center bottom, rgb(207, 207, 207)
			16%, rgb(252, 252, 252) 79% );
		padding: 3px;
		border: 1px solid #DBDBDB;
	}
	
	.centerLine{
		background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, rgb(249
			, 249, 249) ), color-stop(0.79, rgb(255, 255, 255) ) );
		background-image: -moz-linear-gradient(center bottom, rgb(207, 207, 207)
			16%, rgb(255, 255, 255) 79% );
		padding: 3px;
		border: 1px solid #DBDBDB;
	}
	
	
	
.showAll {
	margin-left: 90%;
	margin-top: -10px;
	margin-bottom: 10px;
	padding: 2px;
	font-weight: bold;  
	cursor: pointer;
	/* background-image:url('../../images/up.png'); */
	background-color: #d3d3d3;
	width: 44px;
	height: 22px;
	position: absolute;
}

.hideAll {
	margin-left: 90%;
	margin-top: -20px;  
	cursor: pointer;
	/* background-image:url('../../images/down.png'); */
	width: 44px;
	height: 44px;
	position: absolute;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	