span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
		
		#createUserFormContainer {
			/*
			padding: 20 0 0 20; 
			text-align:center;
			width: 1100px;
			*/
		}
		
		#createUserStatusMessage{
			font-size:16px;
			font-weight:900;
		}
	 #formHeader {
			/*
			padding: 3px 0px 3px 0px;
			-moz-border-bottom:1px solid rgba(0, 0, 97, 1);
			-webkit-border-bottom:1px solid rgba(0, 0, 97, 1);
			margin-bottom:15px;
			-moz-box-shadow:inset 0px 0px 18px 11px rgba(51, 51, 51, 1);
			-webkit-box-shadow:inset 0px 0px 18px 11px rgba(51, 51, 51, 1);
			
			box-shadow:inset 0px 0px 18px 11px rgba(51, 51, 51, 1);
			box-shadow: inset 0px 0px 24px 24px #333333;
			box-shadow-bottom:inset 18px;
			*/
	}
		
		#formHeader h2, #formHeader h3{
			/*
			font-size:20px;
			font-weight:700;
			
			-moz-color:rgba(0, 0, 97, 1);
			-webkit-color:rgba(0, 0, 97, 1);
			color:rgba(0, 0, 97, 1);
			color:white;
			-moz-text-shadow:1px 1px 2px rgba(124, 172, 222, 1);
			-webkit-text-shadow:1px 1px 2px rgba(124, 172, 222, 1);
			text-shadow:1px 1px 2px rgba(124, 172, 222, 1);
			*/
			text-align:left;
			-ms-filter: "progid:DXImageTransform.Microsoft.dropShadow(color=#7cacde,offX=1,offY=1, positive=true)";
 			filter: progid:DXImageTransform.Microsoft.dropShadow(color=#7cacde,offX=1,offY=1, positive=true);
		}
		 
		#validationErrorMessage{
			display:none;
			margin-bottom:0px;
		}
		
		#validationErrorMessage p{
			font-weight:900;
			-moz-color:rgba(153, 0, 0, 1);
			-webkit-color:rgba(153, 0, 0, 1);
			color:rgba(153, 0, 0, 1);
			color:#900;
		}
		
		#validationErrorMessage span{
			font-weight:700;
			-moz-color:rgba(0, 0, 0, 0.8);
			color:rgba(0, 0, 0, 0.8); 
			color:#000;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
 			filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
		}
		
		/*input[type='submit'],[type='reset']
{
	-moz-border-radius:5px; Firefox 
	-webkit-border-radius: 5px; Safari, Chrome 
	border-radius: 5px; CSS3 
	behavior:url(resources/css/PIE_uncompressed.htc);
}*/
/*input[type='text'],[type='password']*/
label {
	/*
	width: 220px;
	height: 10px;
	display:inline-block;
	font-family:Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight:700;
	text-align:left;
	padding-bottom: 20px;
	margin-top:10px;
	*/
}
strong{
	width: 99%;
	height: 10px;
	display: inline-block;
	font-family: Verdana,Helvetica,Arial,sans-serif;
	font-size: 12px;
	font-weight: 700;
	text-align: left;
	padding-bottom: 20px;
	margin-top: 10px;
	margin-left: 4px;
}
.strongImg{
	width:20px;
}
.strongDiv {
    background: white;
    margin-top:325px;
    margin-bottom:38px;
    border-radius: 4px;
    box-shadow: 0px 0px 16px 0px #888888;
}
.grayed {
	width:160px;
	height:60px;
	display:inline-block;
	-moz-color:rgba(102, 102, 102, 1);
	-webkit-color:rgba(102, 102, 102, 1);
	color:rgba(102, 102, 102, 1);
	color:#000;
	font-family:Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-weight:500;
	text-align:left;
	padding-bottom: 20px;
}

span.field{
	/* display:inline-block;
	width:300px;
	height:25px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	text-align:left;
	*/
}

.inputfield{
	font-size:11px;
	width:290px;
	/* -moz-border-radius:10px;
-webkit-border-radius: 10px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px; */
	behavior:url(resources/css/PIE_uncompressed.htc);
}

.selectfield{
	/* Fill with a consistent style,
based on the .inputfield class.
*/
	font-size:11px;
}

#formButton {
	margin:10px auto;
}
#formButton .btn-default:hover, #formButton .btn-default:focus, #formButton .btn-default:active, #formButton .btn-default.active, #formButton .open .dropdown-toggle.btn-default{
	color:#fff;
}
.wideButton {
	width:200px;
	height:25px;
	line-height:25px;
}
/* Form Field Error */
.error {
	-moz-background-color:rgba(163, 41, 41, 0.4);
	-webkit-background-color:rgba(163, 41, 41, 0.4);
	background-color:rgba(163, 41, 41, 0.4);
	background:#d55858;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=40)";
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
	-moz-color:rgba(255, 255, 255, 1);
	-webkit-color:rgba(255, 255, 255, 1);
	color:rgba(255, 255, 255, 1);/*hsla(360, 100%, 100%, 1);*/
	color:#fff;
	background-color:#f2dede !important;
}

/* Tooltip Styles */
.ui-tooltip, .arrow:after {
    background: rgba(163, 41, 41, 0.4);/*hsla(0, 60%, 40%, 0.4);*/
   background:#a32929;
   -moz-border:2px solid rgba(255, 255, 255, 1);
   -webkit-border:2px solid rgba(255, 255, 255, 1);
   border: 2px solid rgba(255, 255, 255, 1);
   border: 2px solid #fff;
 }
 .ui-tooltip {
   padding: 10px 20px; 
   -moz-color:rgba(255, 255, 255, 1);
   -webkit-color:rgba(255, 255, 255, 1);
   color: rgba(255, 255, 255, 1);
   color:#fff;
   border-radius: 10px;
   font: bold 14px "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
   -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 1);
   -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 1);
   box-shadow: 0 0 7px rgba(0, 0, 0, 1);
   -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Color=#000, direction=45)";
	filter: progid:DXImageTransform.Microsoft.Shadow(Color=#000, direction=45);
	behavior:url(resources/css/PIE_uncompressed.htc);
 }
 .arrow {
   width: 70px;
   height: 16px;
   overflow: hidden;
   position: absolute;
   left: 50%;
   margin-left: -35px;
   bottom: -16px;
 }
 .arrow.top {
   top: -16px;
   bottom: auto;
 }
 .arrow.left {
   left: 20%;
 }
 .arrow:after {
   content: "";
   position: absolute;
   left: 20px;
   top: -20px;
   width: 25px;
   height: 25px;
   -moz-box-shadow:6px 5px 9px -9px rgba(0, 0, 0, 1);
   -webkit-box-shadow:6px 5px 9px -9px rgba(0, 0, 0, 1);
   box-shadow: 6px 5px 9px -9px rgba(0, 0, 0, 1);
   -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Color=#000, direction=45)";
	filter: progid:DXImageTransform.Microsoft.Shadow(Color=#000, direction=45);
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   tranform: rotate(45deg);
   behavior:url(resources/css/PIE_uncompressed.htc);
 }
 .arrow.top:after {
   bottom: -20px;
   top: auto;
 }
.filedLeft{
	float:left;
}
.filedRight{
	float:right;
}
.changePwdLabel{
	visibility:hidden;
}
.changePwdLi{
	/*height:53px;*/
}

.loginIdLink{
	cursor:hand;
	cursor:pointer;
	border-bottom:solid;
	border-width:1px;
}
